/********************************************
 * Base Style
 ********************************************/

@page {
    size: A4 portrait;
    margin-top: 1cm;
    margin-left: 2cm;
    margin-right: 1.5cm;
    margin-bottom: 0.5cm
}

body {
    font-family: sans-serif;
    font-size: 9pt
}

h1, h2, h3, h4, h5, h6 {
    color: steelblue
}

h1 {
    font-size: 28pt;
    margin: 0
}

h2 {
    font-size: 16pt;
    margin-bottom: 0.25cm;
    margin-top: 0.5cm
}

table, td, th {
    border: none
}

table {
    border-collapse: separate;
    border-spacing: 0.1cm 0;
    font-size: 9pt
}

body > table {
    border-spacing: 0.1cm 0.15cm
}

td > table {
    margin: 0;
    margin-left: -0.1cm;
    margin-right: -0.1cm;
    float: left;
    width: auto
}

td, th {
    vertical-align: middle;
    padding: 0;
    padding-left: 0.1cm
}

td.formfield {
    border: 1px solid black;
    padding: 0.1cm;
    height: 0.3cm;
    font-family: monospace;
}

td.formfield,  td.formfield  *{
    -ro-context: "formfield-context";
}

td.checkbox {
    width: 0.5cm;
    vertical-align: middle;
    text-align: center;
}

td.checkbox , td.checkbox  *{
    -ro-context: "checkbox-context";
}

div.logo {
    float: right
}

div.readme {
    color: steelblue;
    font-size: 9pt
}

div.readme p:first-child {
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.3
}

div.readme ul {
    margin-top: 0;
    padding-left: 0.5cm
}

div.readme li {
    line-height: 1.3
}

body > p, h2 > span.normal {
    font-size: 8pt;
    color: black;
    font-weight: normal
}

span.normal {
    font-style: italic
}

th {
    font-size: 10pt
}

td.formfield p {
    margin: 0
}

div#photograph{
    float: right;
    padding: 0.1cm;
    
    min-width: 3.5cm;
    min-height: 4.5cm;
    
    margin-left: 1cm;
}

div#photograph p{
    margin: 0;
    text-align: center;
}

div#photograph div{
    width: 3.5cm;
    height: 4.5cm;
    background-image: -ro-repeating-linear-gradient(135deg, lightsteelblue 0%, lightsteelblue 5%, white 5%, white 10%);
    
    outline: 1px solid black;
    border: 0.1cm solid white;
    padding: 0;
}

div#photograph div p:ro-no-content{
    margin:0;
    padding: 0;
    -ro-context: "imagefield-context";
}

div#photograph div img{
    width: 3.5cm;
    max-height: 100%;
}

p.checked{
    -ro-style-template: "Checked" paragraph;
    -ro-style-template-toggle-id: "check-the-box";
    -ro-style-template-context: "checkbox-context";
}

p.checked:before{
    position: relative;
    margin-left: 0.65em;
    content: "x";
}

/********************************************
 * Read-Only Style
 ********************************************/

html {
    -ro-editable: false;
}

td.formfield, div#photograph div {
    -ro-editable-inside: true
}