/*****************************
 * Default Style Templates
 *****************************/

:not(*) {
    -ro-style-template: default paragraph;
    -ro-style-template-group: "L_PARAGRAPH";
    -ro-style-template-setter-id: "paragraph-default";
    -ro-style-template-toggle-id: "toggle-paragraph-default";
    -ro-style-template-context: "none";
}

p {
    -ro-style-template: "L_STYLE_TEMPLATE_PARAGRAPH" paragraph;
    -ro-style-template-group: "L_PARAGRAPH";
    -ro-style-template-setter-id: "paragraph";
    -ro-style-template-toggle-id: "toggle-paragraph";
    -ro-style-template-context: "none";
}

h1 {
    -ro-style-template: "L_STYLE_TEMPLATE_HEADING1" paragraph;
    -ro-style-template-group: "L_PARAGRAPH";
    -ro-style-template-setter-id: "heading-1";
    -ro-style-template-toggle-id: "toggle-heading-1";
    -ro-style-template-context: "none";
}

h2 {
    -ro-style-template: "L_STYLE_TEMPLATE_HEADING2" paragraph;
    -ro-style-template-group: "L_PARAGRAPH";
    -ro-style-template-setter-id: "heading-2";
    -ro-style-template-toggle-id: "toggle-heading-2";
    -ro-style-template-context: "none";
}

h3 {
    -ro-style-template: "L_STYLE_TEMPLATE_HEADING3" paragraph;
    -ro-style-template-group: "L_PARAGRAPH";
    -ro-style-template-setter-id: "heading-3";
    -ro-style-template-toggle-id: "toggle-heading-3";
    -ro-style-template-context: "none";
}

h4 {
    -ro-style-template: "L_STYLE_TEMPLATE_HEADING4" paragraph;
    -ro-style-template-group: "L_PARAGRAPH";
    -ro-style-template-setter-id: "heading-4";
    -ro-style-template-toggle-id: "toggle-heading-4";
    -ro-style-template-context: "none";
}

h5 {
    -ro-style-template: "L_STYLE_TEMPLATE_HEADING5" paragraph;
    -ro-style-template-group: "L_PARAGRAPH";
    -ro-style-template-setter-id: "heading-5";
    -ro-style-template-toggle-id: "toggle-heading-5";
    -ro-style-template-context: "none";
}

h6 {
    -ro-style-template: "L_STYLE_TEMPLATE_HEADING6" paragraph;
    -ro-style-template-group: "L_PARAGRAPH";
    -ro-style-template-setter-id: "heading-6";
    -ro-style-template-toggle-id: "toggle-heading-6";
    -ro-style-template-context: "none";
}
