/**********************************************************************
 *
 * This file contains a set of fonts available for Nimbudocs Editor.
 * It is used by the Nimbudocs Editor server to provide a set of 
 * available font-families for the UI.
 * 
 * You can add font-families to this file as you please but they should 
 * to be present in all four font-faces if possible:
 *
 * - Regular
 * - Bold
 * - Italic
 * - Bold & Italic
 *
 * Adding fonts with less faces is still possible but line layout will 
 * become less exact with these fonts.
 *
 * It is important for each font face definition to include several font
 * properties depending on the type and amount of faces present.
 *
 * With a full set of faces each font-face rule contains the font-weight
 * and font-style property with the appropriate values.
 *
 * If there is no italic and not bold & italic face available the font-style
 * property should NOT be added to the other face. Nimbudocs Editor and
 * all browsers will then display the given faces as oblique. The same is done
 * with missing bold and bold & italic faces for font-weight.
 * 
 **********************************************************************/

/* ADD FONTS HERE */


/* RealObjects Font Pool */

/*NOTE: The "?#iefix" leads to fonts not working in current Firefox. It is required though for IE8 and below browsers to fix a parser issue they have.

/* Alegreya */

@font-face {
    font-family: "Alegreya";
    src: url("Alegreya/Alegreya-Regular-webfont.woff") format("woff"),
         url("Alegreya/Alegreya-Regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Alegreya";
    src: url("Alegreya/Alegreya-Italic-webfont.woff") format("woff"),
         url("Alegreya/Alegreya-Italic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: "Alegreya";
    src: url("Alegreya/Alegreya-Bold-webfont.woff") format("woff"),
         url("Alegreya/Alegreya-Bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: "Alegreya";
    src: url("Alegreya/Alegreya-BoldItalic-webfont.woff") format("woff"),
         url("Alegreya/Alegreya-BoldItalic-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;

}

/* Bellota */

@font-face {
    font-family: "Bellota";
    src: url("Bellota/Bellota-Regular-webfont.woff") format("woff"),
         url("Bellota/Bellota-Regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Bellota";
    src: url("Bellota/Bellota-Italic-webfont.woff") format("woff"),
         url("Bellota/Bellota-Italic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: "Bellota";
    src: url("Bellota/Bellota-Bold-webfont.woff") format("woff"),
         url("Bellota/Bellota-Bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: "Bellota";
    src: url("Bellota/Bellota-BoldItalic-webfont.woff") format("woff"),
         url("Bellota/Bellota-BoldItalic-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;

}

/* Bevan */

@font-face {
    font-family: "Bevan";
    src: url("Bevan/Bevan-webfont.woff") format("woff"),
         url("Bevan/Bevan-webfont.ttf") format("truetype");
}

/* Caviar Dreams */

@font-face {
    font-family: "Caviar Dreams";
    src: url("CaviarDreams/CaviarDreams-webfont.woff") format("woff"),
         url("CaviarDreams/CaviarDreams-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Caviar Dreams";
    src: url("CaviarDreams/Caviar_Dreams_Bold-webfont.woff") format("woff"),
         url("CaviarDreams/Caviar_Dreams_Bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: "Caviar Dreams";
    src: url("CaviarDreams/CaviarDreams_Italic-webfont.woff") format("woff"),
         url("CaviarDreams/CaviarDreams_Italic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: "Caviar Dreams";
    src: url("CaviarDreams/CaviarDreams_BoldItalic-webfont.woff") format("woff"),
         url("CaviarDreams/CaviarDreams_BoldItalic-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;

}

/* Coda */

@font-face {
    font-family: "Coda";
    src: url("Coda/Coda-Heavy-webfont.woff") format("woff"),
         url("Coda/Coda-Heavy-webfont.ttf") format("truetype");
}

/* Dancing Script */

@font-face {
    font-family: "Dancing Script";
    src: url("DancingScript/DancingScript-Regular-webfont.woff") format("woff"),
         url("DancingScript/DancingScript-Regular-webfont.ttf") format("truetype");
}

/* Great Vibes */

@font-face {
    font-family: "Great Vibes";
    src: url("GreatVibes/GreatVibes-Regular-webfont.woff") format("woff"),
         url("GreatVibes/GreatVibes-Regular-webfont.ttf") format("truetype");
}

/* Halogen */

@font-face {
    font-family: "Halogen";
    src: url("Halogen/halogen-webfont.woff") format("woff"),
         url("Halogen/halogen-webfont.ttf") format("truetype");

}


/* League Gothic */

@font-face {
    font-family: "League Gothic";
    src: url("LeagueGothic/LeagueGothic-Regular-webfont.woff") format("woff"),
         url("LeagueGothic/LeagueGothic-Regular-webfont.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "League Gothic";
    src: url("LeagueGothic/LeagueGothic-Italic-webfont.woff") format("woff"),
         url("LeagueGothic/LeagueGothic-Italic-webfont.ttf") format("truetype");
    font-style: italic;
}


/* Limelight */

@font-face {
    font-family: "Limelight";
    src: url("Limelight/Limelight-webfont.woff") format("woff"),
         url("Limelight/Limelight-webfont.ttf") format("truetype");
}

/* Lobster Two */

@font-face {
    font-family: "Lobster Two";
    src: url("LobsterTwo/LobsterTwo-Regular-webfont.woff") format("woff"),
         url("LobsterTwo/LobsterTwo-Regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lobster Two";
    src: url("LobsterTwo/LobsterTwo-Italic-webfont.woff") format("woff"),
         url("LobsterTwo/LobsterTwo-Italic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: "Lobster Two";
    src: url("LobsterTwo/LobsterTwo-Bold-webfont.woff") format("woff"),
         url("LobsterTwo/LobsterTwo-Bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: "Lobster Two";
    src: url("LobsterTwo/LobsterTwo-BoldItalic-webfont.woff") format("woff"),
         url("LobsterTwo/LobsterTwo-BoldItalic-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;

}

/* Modern Pictograms */

@font-face {
    font-family: "Modern Pictograms";
    src: url("ModernPictograms/modernpics-webfont.woff") format("woff"),
         url("ModernPictograms/modernpics-webfont.ttf") format("truetype");
}

/* Orbitron */

@font-face {
    font-family: "Orbitron";
    src: url("Orbitron/orbitron-medium-webfont.woff") format("woff"),
         url("Orbitron/orbitron-medium-webfont.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url("Orbitron/orbitron-bold-webfont.woff") format("woff"),
         url("Orbitron/orbitron-bold-webfont.ttf") format("truetype");
    font-weight: bold;
}


/* Overlock */

@font-face {
    font-family: "Overlock";
    src: url("Overlock/Overlock-Regular-OTF-webfont.woff") format("woff"),
         url("Overlock/Overlock-Regular-OTF-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Overlock";
    src: url("Overlock/Overlock-Italic-OTF-webfont.woff") format("woff"),
         url("Overlock/Overlock-Italic-OTF-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: "Overlock";
    src: url("Overlock/Overlock-Bold-OTF-webfont.woff") format("woff"),
         url("Overlock/Overlock-Bold-OTF-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: "Overlock";
    src: url("Overlock/Overlock-BoldItalic-OTF-webfont.woff") format("woff"),
         url("Overlock/Overlock-BoldItalic-OTF-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;

}



/* Unifraktur Maguntia */

@font-face {
    font-family: "Unifraktur Maguntia";
    src: url("UnifrakturMaguntia/unifrakturmaguntia-book-webfont.woff") format("woff"),
         url("UnifrakturMaguntia/unifrakturmaguntia-book-webfont.ttf") format("truetype");
}


/**********************************************************************
 *
 * Below are the definitions of Core Fonts for Nimbudocs Editor. The 
 * core fonts override the "sans-serif", "serif" and "monospace" 
 * font-family keywords to ensure that Nimbudocs Editor and all 
 * browsers will use the same font faces.
 *
 * DO NOT CHANGE ANYTHING BELOW THIS LINE
 * 
 **********************************************************************/

/* Core Fonts by Name for UI */

/* Roboto */

@font-face {
    font-family: "Roboto";
    src: url("corefonts/Roboto/Roboto-Regular-webfont.woff") format("woff"),
         url("corefonts/Roboto/Roboto-Regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Roboto";
    src: url("corefonts/Roboto/Roboto-Italic-webfont.woff") format("woff"),
         url("corefonts/Roboto/Roboto-Italic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: "Roboto";
    src: url("corefonts/Roboto/Roboto-Bold-webfont.woff") format("woff"),
         url("corefonts/Roboto/Roboto-Bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: "Roboto";
    src: url("corefonts/Roboto/Roboto-BoldItalic-webfont.woff") format("woff"),
         url("corefonts/Roboto/Roboto-BoldItalic-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;

}

/* Tinos */

@font-face {
    font-family: "Tinos";
    src: url("corefonts/Tinos/Tinos-Regular-webfont.woff") format("woff"),
         url("corefonts/Tinos/Tinos-Regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Tinos";
    src: url("corefonts/Tinos/Tinos-Italic-webfont.eot");
    src: url("corefonts/Tinos/Tinos-Italic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Tinos";
    src: url("corefonts/Tinos/Tinos-Bold-webfont.woff") format("woff"),
         url("corefonts/Tinos/Tinos-Bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Tinos";
    src: url("corefonts/Tinos/Tinos-BoldItalic-webfont.woff") format("woff"),
         url("corefonts/Tinos/Tinos-BoldItalic-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

/* AnonymousPro */

@font-face {
    font-family: "Anonymous Pro";
    src: url("corefonts/AnonymousPro/Anonymous_Pro-webfont.woff") format("woff"),
         url("corefonts/AnonymousPro/Anonymous_Pro-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url("corefonts/AnonymousPro/Anonymous_Pro_I-webfont.woff") format("woff"),
         url("corefonts/AnonymousPro/Anonymous_Pro_I-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url("corefonts/AnonymousPro/Anonymous_Pro_B-webfont.woff") format("woff"),
         url("corefonts/AnonymousPro/Anonymous_Pro_B-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url("corefonts/AnonymousPro/Anonymous_Pro_BI-webfont.woff") format("woff"),
         url("corefonts/AnonymousPro/Anonymous_Pro_BI-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}