/******************************************************
 * Page Settings
 *****************************************************/

@page{
    size: A4 portrait;
    
    margin: 2.5cm;
    
    counter-increment: page;
    
    /* Folding Marks */
    
    @left-top{
        content: " ";
        height: 0cm;
    }
    
    @left-middle{
        content: " ";
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: 0.25cm;
        height: 10.8cm;
        
        margin-top: 2.75cm;
    }
    
    @left-bottom{
        content: " ";
        height: 0cm;
    }
    
    /* Numbering */
    
    @bottom-right{
        content: counter(page);
    }
}

@page:first{

    @top-left{
        content: "";
    }
    
    @top-right{
        content: "";
        
        background-image: url("mail.png");
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 120% 200%;
    }
}

/******************************************************
 * General Document Settings
 *****************************************************/

html{
    font-family: Tinos;
    font-size: 12pt;
    line-height: 1;
}

#headerTable, #headerTable > tr > td,
#addressTable, #addressTable > tr > td {
    border-width: 0 !important;
}

#headerTable, #headerTable table
#addressTable, #addressTable table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10pt;
}

#headerTable > tr > td{
    width: 50%;
}

#headerTable tr {
    height: 3.17cm;
}

#headerTable > tr > td:last-child{
    vertical-align: top;
    text-align: right;
}

#headerTable > tr > td:last-child > p{
    font-size: 12pt;
}

#headerTable > tr > td:last-child > p:first-of-type{
    font-weight: bold;
    font-size: 13pt;
}

#headerTable > tr > td:first-child > p{
    font-size: 13pt;
    margin: 0;
    margin-top: 0.2cm;
}

#addressTable {
    border-collapse: collapse;
    width: 100%;
    height: auto;
}

#headerTable > tr > td:first-child > table > tr > td:last-child{
    width: 7.91cm;
}

#headerTable > tr > td:first-child > table > tr:first-child {
    height: 1.9cm;
}

#headerTable > tr > td:first-child > table > tr:last-child > td:last-child{
    vertical-align: top;
    text-align: left;
}

#headerTable > tr > td:first-child > table > tr:last-child > td:last-child > p{
    font-size: 12pt;
}

#headerTable > tr > td:first-child > table > tr:last-child > td:last-child > p:first-of-type{
    font-weight: bold;
    font-size: 13pt;
    font-family: Lobster Two;
}

#senderName{
    font-weight: bold;
    font-size: 13pt;
    font-family: Lobster Two;
    
    string-set: name self;
}

#senderAddress, #recipientAddress, #signatureDetails{
    line-height: 1.15;
}

#senderAddress p, #recipientAddress p{
    margin-top: 0;
    margin-bottom: 0;
}

#salutation{
    font-weight: bold;
    font-size: 13pt;
    font-family: Lobster Two;
    
    margin-bottom: 16pt;
    
    clear: both;
}

#letterbody{
    font-size: 13pt;
    line-height: 1.15;
}

#letterbody p{
    margin-top: 0;
    margin-bottom: 10pt;
}


#valediction{
    font-weight: bold;
    font-size: 13pt;
    font-family: Lobster Two;
    
    margin-top: 24pt;
    margin-bottom: 50pt;
}

#signature{
    font-style: italic;
    font-size: 13pt;
    font-family: Lobster Two;
    
    width: 55%;
    
    padding-top: 1mm;
    border-top: 1px solid black;
}

#signature:before{
    content: string(name);
}

#signatureDetails p{
    margin-top: 0;
    margin-bottom: 0;
}

#date{
    float: right;
    width: 33%;
    
    margin: 0;
    text-align: right;
}

#letterbody p + p{
    margin-top: 0.25cm;
}

table{
    margin-top: 0.25cm;
    margin-bottom: 0.25cm;
    border-collapse: collapse;
}

table, td, th{
    border: 1px solid darkgray;
}


:ro-matches(#letterbody, #signatureDetails) td p{
    margin-top: 0;
    margin-bottom: 0;
}

/******************************************************
 * Editability
 *****************************************************/

html{
    -ro-editable: false;
}
 
#recipientName, #recipientAddress, #date > p, #senderName, 
#senderAddress, #salutation, #letterbody, #valediction,
#signatureDetails {
    -ro-editable: false;
    -ro-editable-inside: true;
}


#recipientName:ro-no-content:after{
    content: "[Please enter recipient name]";
}

#recipientAddress > p:first-of-type:only-child:ro-no-content:after{
    content: "[Please enter recipient address]";
}

#date > p:ro-no-content:after{
    content: "[Please set date]";
}

#senderName:ro-no-content:after{
    content: "[Please enter sender name]";
}

#senderAddress > p:first-of-type:only-child:ro-no-content:after{
    content: "[Please enter sender address]";
}

#salutation:ro-no-content:after{
    content: "[Please enter salutation]";
}

#letterbody > p:first-of-type:only-child:ro-no-content:after{
    content: "[Please enter letter body]";
}

#valediction:ro-no-content:after{
    content: "[Please enter valediction]";
}

#signatureDetails > p:first-of-type:only-child:ro-no-content:after{
    content: "[Please enter signature details]";
}


#recipientName:ro-no-content:after,
#recipientAddress > p:first-of-type:only-child:ro-no-content:after,
#date > p:ro-no-content:after,
#senderName:ro-no-content:after,
#senderAddress > p:first-of-type:only-child:ro-no-content:after,
#salutation:ro-no-content:after, 
#letterbody > p:first-of-type:only-child:ro-no-content:after, 
#valediction:ro-no-content:after,
#signatureDetails > p:first-of-type:only-child:ro-no-content:after {
    display: inline;
    font-size: inherit;
    font-weight: bold;
    color: gray;
}

#recipientName:ro-no-content,
#recipientAddress > p:first-of-type:only-child:ro-no-content:after,
#date > p:ro-no-content,
#senderName:ro-no-content,
#senderAddress > p:first-of-type:only-child:ro-no-content:after,
#salutation:ro-no-content, 
#letterbody > p:first-of-type:only-child:ro-no-content, 
#valediction:ro-no-content,
#signatureDetails> p:first-of-type:only-child:ro-no-content {
    background-color: lightgray;
}

/******************************************************
 * Contexts
 *****************************************************/

#headerTable,
#headerTable > tr,
#headerTable > tr > td,
#headerTable > tr > td > *,
#headerTable > tr > th
#headerTable > tr > th > *,
#addressTable,
#addressTable > tr,
#addressTable > tr > td,
#addressTable > tr > th {
    -ro-context: "header-table-context";
}
 
#date > p{
    -ro-context: "date-context";
}

#recipientName, #senderName, #salutation, #valediction{
    -ro-context: "single-line-context";
}

#recipientAddress, #recipientAddress *, 
#senderAddress, #senderAddress *{
    -ro-context: "address-context";
}

#letterbody, 
#letterbody > p {
    -ro-context: "letterbody-context";
}

#signatureDetails, 
#signatureDetails > p {
    -ro-context: "signature-details-context";
}