.clientContainer.ec0 td.clientColor {
    border-color: #FFCECE;
    background:#FFCECE;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#F4A6A6), to(#FFCECE));
    background:-moz-linear-gradient(#F4A6A6, #FFCECE);
    background:-o-linear-gradient(#F4A6A6, #FFCECE);
    background:linear-gradient(#F4A6A6, #FFCECE);
}

.clientContainer.ec1 td.clientColor {
    border-color: #D5E8AB;
    background: #D5E8AB;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#9ACD32), to(#D5E8AB));
    background:-moz-linear-gradient(#9ACD32, #D5E8AB);
    background:-o-linear-gradient(#9ACD32, #D5E8AB);
    background:linear-gradient(#9ACD32, #D5E8AB);
}

.clientContainer.ec2 td.clientColor {
    border-color: #CBDBEF;
    background: #CBDBEF;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#8AAFD1), to(#CBDBEF));
    background:-moz-linear-gradient(#8AAFD1, #CBDBEF);
    background:-o-linear-gradient(#8AAFD1, #CBDBEF);
    background:linear-gradient(#8AAFD1, #CBDBEF);
}
.clientContainer.ec3 td.clientColor {
    border-color: #F7F0B7;
    background: #F7F0B7;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#DDD161), to(#F7F0B7));
    background:-moz-linear-gradient(#DDD161, #F7F0B7);
    background:-o-linear-gradient(#DDD161, #F7F0B7);
    background:linear-gradient(#DDD161, #F7F0B7);
}

.clientContainer.ec4 td.clientColor {
    border-color: #EAC0E9;
    background: #EAC0E9;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#DA70D6), to(#EAC0E9));
    background:-moz-linear-gradient(#DA70D6, #EAC0E9);
    background:-o-linear-gradient(#DA70D6, #EAC0E9);
    background:linear-gradient(#DA70D6, #EAC0E9);
}

.clientContainer.ec5 td.clientColor {
    border-color: #FFE0E5; 
    background: #FFE0E5;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFB6C1), to(#FFE0E5));
    background:-moz-linear-gradient(#FFB6C1, #FFE0E5);
    background:-o-linear-gradient(#FFB6C1, #FFE0E5);
    background:linear-gradient(#FFB6C1, #FFE0E5);
}

.clientContainer.ec6 td.clientColor {
    border-color: #C4E5F2;
    background: #C4E5F2;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#87CEEB), to(#C4E5F2));
    background:-moz-linear-gradient(#87CEEB, #C4E5F2);
    background:-o-linear-gradient(#87CEEB, #C4E5F2);
    background:linear-gradient(#87CEEB, #C4E5F2);
}

.clientContainer.ec7 td.clientColor {
    border-color: #F4D3B7;
    background: #F4D3B7;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#F4A460), to(#F4D3B7));
    background:-moz-linear-gradient(#F4A460, #F4D3B7);
    background:-o-linear-gradient(#F4A460, #F4D3B7);
    background:linear-gradient(#F4A460, #F4D3B7);
}

.caret div.bubble {
    white-space: normal;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: normal;
    
    position:relative;
    padding:4px;
    margin:0.5em 0 1.5em;
    color:#000;
    background:#f3961c; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
    background:-moz-linear-gradient(#f9d835, #f3961c);
    background:-o-linear-gradient(#f9d835, #f3961c);
    background:linear-gradient(#f9d835, #f3961c);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    
    font-size: 8pt;
    top: -32px;
    bottom: auto;
    left: -18px;
    right:auto;
    width: 72px;
    
    opacity: 0.9;
    filter:alpha(opacity=90);
    z-index: 10;
    
    text-indent: 0;
    
    -moz-box-shadow: 2px 2px 6px #aaa;
    -webkit-box-shadow: 2px 2px 6px #aaa;
    box-shadow: 2px 2px 6px #aaa;
}

/* creates triangle */
.bubbleTriangle {
    position:absolute;
    bottom:-16px; /* value = - border-top-width - border-bottom-width */
    left:13px; /* controls horizontal position */
    border-width:16px 4px 0; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#f3961c transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
    
    opacity: 0.9;
    filter:alpha(opacity=90);
    z-index: 10;
    
}

/* Does not work with gradients yet
.bubble, .bubbleTriangle {
    -webkit-transition: linear 0.5s all;
    -moz-transition: linear 0.5s all;
    -o-transition: linear 0.5s all;
    transition: linear 0.5s all;
}
*/

.bubbleTransition {
    -webkit-transition: linear 0.15s all;
    -moz-transition: linear 0.15s all;
    -o-transition: linear 0.15s all;
    transition: linear 0.15s all;
}

div.ec0.bubble {
    background:#FFCECE;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#F4A6A6), to(#FFCECE));
    background:-moz-linear-gradient(#F4A6A6, #FFCECE);
    background:-o-linear-gradient(#F4A6A6, #FFCECE);
    background:linear-gradient(#F4A6A6, #FFCECE);
}

.ec0 .bubbleTriangle {
    border-color:#FFCECE transparent;
}

div.ec1.bubble {
    background: #D5E8AB;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#9ACD32), to(#D5E8AB));
    background:-moz-linear-gradient(#9ACD32, #D5E8AB);
    background:-o-linear-gradient(#9ACD32, #D5E8AB);
    background:linear-gradient(#9ACD32, #D5E8AB);
}

.ec1 .bubbleTriangle {
    border-color:#D5E8AB transparent;
}

div.ec2.bubble {
    background: #CBDBEF;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#8AAFD1), to(#CBDBEF));
    background:-moz-linear-gradient(#8AAFD1, #CBDBEF);
    background:-o-linear-gradient(#8AAFD1, #CBDBEF);
    background:linear-gradient(#8AAFD1, #CBDBEF);
}

.ec2 .bubbleTriangle {
    border-color:#CBDBEF transparent;
}

div.ec3.bubble {
    background: #F7F0B7;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#DDD161), to(#F7F0B7));
    background:-moz-linear-gradient(#DDD161, #F7F0B7);
    background:-o-linear-gradient(#DDD161, #F7F0B7);
    background:linear-gradient(#DDD161, #F7F0B7);
}

.ec3 .bubbleTriangle {
    border-color: #F7F0B7 transparent;
}

div.ec4.bubble {
    background: #EAC0E9;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#DA70D6), to(#EAC0E9));
    background:-moz-linear-gradient(#DA70D6, #EAC0E9);
    background:-o-linear-gradient(#DA70D6, #EAC0E9);
    background:linear-gradient(#DA70D6, #EAC0E9);
}

.ec4 .bubbleTriangle {
    border-color: #EAC0E9 transparent; 
}

div.ec5.bubble {
    background: #FFE0E5;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFB6C1), to(#FFE0E5));
    background:-moz-linear-gradient(#FFB6C1, #FFE0E5);
    background:-o-linear-gradient(#FFB6C1, #FFE0E5);
    background:linear-gradient(#FFB6C1, #FFE0E5);
}

.ec5 .bubbleTriangle {
    border-color: #FFE0E5 transparent;
}

div.ec6.bubble {
    background: #C4E5F2;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#87CEEB), to(#C4E5F2));
    background:-moz-linear-gradient(#87CEEB, #C4E5F2);
    background:-o-linear-gradient(#87CEEB, #C4E5F2);
    background:linear-gradient(#87CEEB, #C4E5F2);
}

.ec6 .bubbleTriangle {
    border-color: #C4E5F2 transparent;
}

div.ec7.bubble {
    background: #F4D3B7;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#F4A460), to(#F4D3B7));
    background:-moz-linear-gradient(#F4A460, #F4D3B7);
    background:-o-linear-gradient(#F4A460, #F4D3B7);
    background:linear-gradient(#F4A460, #F4D3B7);
}

.ec7 .bubbleTriangle {
    border-color: #F4D3B7 transparent;
}

/* Collab Link & QR */

.collabLinkContainer {
    padding: 5px 0;
}

.collabQR {
    position: relative; 
    width: 2em; 
    height: 2em; 
    display: inline-block
}

.collabQR > canvas { 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    transition: all 1s; 
    -moz-transition: all 1s;
    -webkit-transition: all 1s; 
    -o-transition: all 1s; 
    border: 0px solid white;
    z-index: 99999; 
} 

.collabQR > canvas:hover { 
    width: 256px !important; 
    height: 256px !important; 
    z-index: 99999;
    border: 32px solid white;
}
