/************************* 
 * Document Context menu *
 *************************/
.documentContextMenu {
    margin: 0;
    min-width: 180px;
    padding: 1px;
    position: absolute;
    text-align: left;
    z-index: 10000;
    cursor: default;
    font-size: 8pt;
    
}

.documentContextMenu ul, .documentContextMenu li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.documentContextMenu ul {
    min-width: 180px;
    z-index: 1;
    background-image: none;
}

.documentContextMenu li {
    line-height: 26px;
    min-height: 26px;
    padding: 0;
    position: relative;
}

.documentContextMenu li ins {
    float: left;
    height: 24px;
    margin-right: 4px;
    text-decoration: none;
    width: 24px;
}

.documentContextMenu li ins.icon {
    background-size: 100%;
}

.documentContextMenu li ins.ui-icon-triangle-1-e {
    float: right;
    height: 16px;
    width: 16px;
    margin-top: 5px;
    z-index: 1;
}

.documentContextMenu li {
    margin: 1px 1px 0;
    padding: 2px 2px;
    font-weight: normal;
}

.documentContextMenu li.ui-state-hover, .documentContextMenu li.ui-state-active {
    padding: 1px 1px;
}

.documentContextMenu li.vakata-separator {
    background: none repeat scroll 0 0 silver;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    margin: 0 2px;
    min-height: 0;
    overflow: hidden;
    padding: 0;
}

.documentContextMenu li.disabled {
    opacity: 0.3;
    zoom: 1; 
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}