.centerContainer {
    position: relative;
    border-right: 1px solid #AAAAAA;
}

.centerContainer.noSidebar {
    border-left: 1px solid #AAAAAA;
}

/* maximized styles */

.ui-layout-maximized > div.ui-corner-top,
.ui-layout-maximized > div.ui-corner-bottom {
    border-radius: 0 !important;
}

.ui-layout-maximized {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1099;
}

.ui-layout-maximized > .toolbarContainer {
    position: absolute !important;
    top: 0px;
    left: 0px;
    right: 0px;
}

.ui-layout-maximized > .centerContainer {
    position: absolute !important;
    left: 0px;
    right: 0px;
}

/* Status bar
.ui-layout-maximized > .statusbarContainer {
    position: absolute !important;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 25px;
}
*/
:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

/* do NOT replace with comma separated selector list */
:-webkit-full-screen .toggleMaximizeButton { display: none; }
:-moz-full-screen .toggleMaximizeButton { display: none; }
:fullscreen .toggleMaximizeButton { display: none; }

.toggleFullscreenButton {
    display: none;
}

.ui-layout-loading {
    overflow: hidden;
    background: url('../images/splashscreen.jpg') no-repeat center center;
    background-size: cover;
    border: 1px solid gray;
    border-radius: 5px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}

.ui-layout-loading::before {
    background: url('../images/spinner.gif') no-repeat center center;
    display: block;
    height: 100%;
    width: 100%;
    content: " ";
}

.ui-layout-loading.ui-layout-maximized {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.ui-layout-loading * {
    visibility: hidden !important;
}

/* all 'resizer-bars' */ 
.ui-layout-resizer { 
    background: #A6C9E2; 
} 

.ui-layout-resizer-closed {
    position: static !important;
    background: #AAAAAA; 
}

/* all 'toggler-buttons' */ 
.ui-layout-toggler { 
    width: 10px !important;
    height: 30px !important;
    background: url('../images/icons/slider.png') no-repeat center center;
}

/* The overlay displayed when a dialog is opened or a document is loaded */
.nimbuOverlay {
    position: absolute;
    background-color: #000000;
    opacity: 0.4;
    filter:Alpha(Opacity='40');
    top: 0;
    z-index: 1100;
}

.loadingIndicator {
    position: absolute;
    z-index: 1101;
}

.nimbuInfoBox {
    width: 300px;
    height: 150px;
    z-index: 1101;
    background-image: none;
}

.nimbuInfoBox .infoBoxClose{
    float: right;
    cursor: pointer;
    margin-right: -6px;
    margin-top: -6px;
}

.nimbuInfoBox .infoBoxTitle{
    float: left;
    font-weight: bold;
    height: 16px;
}

.nimbuInfoBox .infoBoxContent{
    clear: both;
    border-top: 1px solid #AAAAAA;
    margin-top: 5px;
    padding-top: 5px;
    line-height: normal;
}

.connectionContainer {
    position: absolute;
    bottom: 62px;
    right: 25px;
    width: 20px;
    height: 20px;
    z-index: 4;
    
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    
    padding: 2px;
    
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-position: center center;
}

.connectionContainer.connected {
    /* being connected is the default, do not show what is self-evident. */
    display: none;
    background-color: yellowgreen;
}

.connectionContainer.disconnected {
    background-color: indianred;
}
