.toolbarMobile {
    background-color: #000000;
    min-height: 120px;
    height: 120px;
}

.toolbarMobile button.disabled {
    background-position:center center;
    background-repeat:no-repeat;
}

.toolbarMobile button.enabled {
    background-position:center center;
    background-repeat:no-repeat;
    cursor:pointer;
}

.toolbarMobile .nimbuButton div.highlight {
    background: none !important;
    background-color: #404040 !important;
}

.quickActionContainer {
    float: left;
    border-right: 10px solid white;
}

.categoryButtonContainer {
    float: right;
}

/* Quick Actions Panel CSS */
tr.quickPanelMobile {
    height:120px;
    margin:0;
    padding:0;
}

div.ribbonPanelquickPanel {
    vertical-align: top;
}

tr.quickPanelMobile td {
    width: 133px;
    height: 120px;
    border: medium none;
    margin: 0;
    padding: 0 0px !important;
}

tr.quickPanelMobile td.nimbuButton div { 
    width: 131px;
    height: 98px;
    padding: 0;
    margin-right: 1px;
}

tr.quickPanelMobile button.buttonImage {
    height: 100px;
    width: 133px;
    margin: 0;
    margin-top: -1px;
    margin-left: -1px;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.categoryButtonContainer td.active {
    background-color: #BFBFBF;
}

.categoryButtonContainer button.categoryButton {
    height: 100px;
    width: 133px;
    margin: 0;
    margin-top: -1px;
    margin-left: -1px;
    padding: 0px;
    border: 0;
    background-color: transparent;
    background-position:center center;
    background-repeat:no-repeat;
}

.categoryActionContainer {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 120px;
    background-color: #BFBFBF;
    z-index: 199;
}


/* Category Actions Panel CSS */
tr.categoryPanelMobile {
    height:130px;
    margin:0;
    padding:0;
}

tr.categoryPanelMobile td {
    width: 174px;
    height: 130px;
    border: medium none;
    margin: 0;
    padding: 0 0px !important;
}

tr.categoryPanelMobile td.nimbuButton div { 
    width: 172px;
    height: 128px;
    padding: 0px;
    margin: 10px;
    background-color: #7F7F7F;
}

tr.categoryPanelMobile button.buttonImage {
    width: 172px;
    height: 130px;
    margin: 0;
    margin-top: -1px;
    margin-left: -1px;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-size: 172px 130px;
}