/*********************************
 * jQuery override CSS           *
 ********************************/

/* Overwrite font settings */
body .nimbueditorstyles > *:not(.canvaseditorstyles) {
    font-family: Arial,sans-serif;
    font-size: 8.5pt;
    font-weight: normal;
    line-height: 0.7em;
}

body .nimbueditorstyles table {
    border-collapse: separate !important;
    width: auto;
    margin: 0;
}

body div.modalDialog table{
    border-collapse: separate !important;
    width: 100%;
    margin: 0;
}

body div.rodropdownstyles * {
    font-family: Arial,sans-serif;
    font-size: 8.5pt !important;
    font-weight: normal;
}

body .ui-widget-header, body .ui-widget-header span {
    font-weight: bold !important;
}

body .ui-tabs .ui-tabs-panel {
    padding: 0.2em 0.2em !important;
}

.ui-resizable-helper {
    border: 1px dotted gray;
}

.ui-helper-reset {
    line-height: 0.7 !important;
}
.ui-widget {
    font-size: 0.7em !important;
}

.ui-dialog {
    z-index: 1101 !important;
}

.ui-widget-overlay.ui-front {
    z-index: 1100 !important;
}

.ui-dialog-titlebar *, .ui-dialog-buttonpane * {
    font-size: 8.5pt !important;
    line-height: 1.0em;
}

.ui-dialog-content {
    font-size: 1.0em !important;
}

.noPadding {
    padding: 0 !important; 
}

.colorSelector {
    margin: auto;
}

/* Overwrite Tab padding */
.ui-tabs .ui-tabs-nav li a {
    padding: 0.5em 0.8em !important;
}

/* Default cursor for elements in toolbar and all button elements */
.ui-tabs a, .ui-tabs button, button {
    cursor: default !important;
}

.ui-tabs li {
    white-space: nowrap !important;
}

.ui-resizable-helper {
    border: 1px dotted gray;
} 

.ui-resizable-handle-se {
    cursor: se-resize;
    z-index: 899;
    width: 14px;
    height: 14px;
}

.ui-state-hover p.actionText {
    font-weight: normal !important;
}

body .ui-tabs .ui-tabs-hide { position: absolute !important; top:-10000px !important; display: block !important;}