
/*******************
    Editor Styles
 *******************/
 
.canvaseditorstyles {
    overflow: hidden;
}

.no-ruler .rulerContainer {
    display:none;
}

.no-ruler .editor {
    height: 99%;
    height: -webkit-calc(100% - 1px) !important;
    height: calc(100% - 1px) !important;
    border-top: 0;
}

.editor {
    height: 97%;
    height: -webkit-calc(100% - 18px) !important;
    height: calc(100% - 18px) !important;
}

/*******************
    Ruler Styles
 *******************/

.rulerContainer {
    height: 16px;
    background-color: #ccc;
    position: relative;
    
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.blockContent {
    position: absolute;
    top: 0;
    height: 16px;
    z-index: 102;
    background-color: #fdfefe;
}

.rulerPageMargin {
    background-color: skyblue;
    z-index: 103;
    height: 16px;
    position: absolute;
    top: 0;
}

.pageMarginRight {
    right: 0px;
}

.pageMarginLeft {
    left: 0px;
}


/*******************
   Handle Styles
 *******************/

.blockMargin {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    
    border-bottom: 8px solid #555;
    
    z-index: 110;
    position: absolute;
    bottom: 0;
    
    margin-left: -8px;
}

.pageMarginRightHandle, .pageMarginLeftHandle {
    background-color: transparent;
    z-index: 109;
    width: 12px;
    position: absolute;
    height: 100%;
}

.pageMarginRightHandle {
    margin-right: -6px;
    cursor: e-resize;
}

.pageMarginLeftHandle {
    margin-left: -6px;
    cursor: w-resize;
}

.handleDisabled {
    cursor: default !important;
}

.rulerGuideLine {
    border-left: 1px dashed grey;
    display: none;
    margin-top: 8px;
}

.pageMarginLeftHandle  > .rulerGuideLine,
.pageMarginRightHandle > .rulerGuideLine {
    margin-left: 5px;
    margin-top: 16px;
}


/*******************
    Scale Styles
 *******************/

.rulerDashes {
    position: absolute;
    height: 16px;
    width: 100%;
    overflow: hidden;
    top:0;
    
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.rulerDashes > .rulerCount {
    position: absolute;
    top: 0mm;
    width: 4mm;
    margin-left: -2mm;
    z-index: 108;
    text-align: center;
    font-size: 10px;
    color: #646668;
    cursor: default;
    line-height: normal;
}

.rulerDashSmall {
    position: absolute;
    top: 1.5mm;
    width: 0.1cm;
    height: 1mm;
    z-index: 108;
    border-left: 1px solid gray;
}

.rulerDashMedium {
    position: absolute;
    top: 1mm;
    width: 0.1cm;
    height: 2mm;
    z-index: 108;
    border-left: 1px solid gray;
}

.rulerDash3 {
    position: absolute;
    width: 0.1cm;
    height: 3mm;
    z-index: 108;
    border-left: 1px solid gray;
}

.rulerCaret {
    position: absolute; 
    top: 0px;
    height: 100%;
    width: 2px;
    border-left: 1px dashed #72a9d3;
    z-index: 109; 
}