div.searchbar {
    position: absolute;
    z-index: 4;
    font-size: 1em !important;
    padding: 2px;
}

div.searchbar.bottomLeft {
    left: 16px;
    bottom: 22px;
}

div.searchbar.bottomRight {
    right: 32px;
    bottom: 22px;
}

div.searchbar.topLeft {
    left: 0px;
    top: 0px;
}

div.searchbar.topRight {
    right: 32px;
    top: 0px;
}

div.searchbar button, div.searchbar input {
    font-size: 0.9em !important;
}

div.searchbar > div:first-child {
    padding-right: 8px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: auto;
    vertical-align: top;
}

div.searchbar > div {
    float: left;
}

button.searchbarHide {
    height: 20px; 
    width: 20px;
}

div.searchbar input {
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: white;
}

button.searchbarNext {
    height: 24px;
    width: 24px;
}

button.searchbarPrevious {
    height: 24px;
    width: 24px;
}

.searchbarCase, .searchbarWord {
    cursor: default;
}

.showSearchbar {
    z-index: 4;
    position: absolute;
    bottom: 62px;
    left: 4px;
    display: block;
    height:24px;
    width:24px;
}

.searchbarOptions {
    height: 56px;
    border-left-width: 2px;
    margin-left: 8px;
    margin-right: 8px;
    
}

.searchbarMessage {
    margin-left: 32px;
}

.searchbarOptions.ui-widget-content {
    background: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.searchbarOptions > input {
    vertical-align: middle;
}

div.searchbar input.searchbarFind, 
div.searchbar input.searchbarReplaceTerm {
    background: white;
    background-image: none;
    font-size: 1.4em;
}