/*********************************
 * Style Template Panel CSS      *
 ********************************/

div.clientContainer {
    text-align: left;
    margin-bottom: 4px;
    border: none;
    cursor: default !important;
}

div.clientContainer td {
    font-size: 11px;
}

div.clientContainer td.clientColor {
    height: 100%; 
    width: 10px; 
    padding: 1px;
    border-style: none;
}

.sidebarContainer {
    padding: 3px;
    overflow-x: inherit;
    overflow-y: auto;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #AAAAAA;
}

.sidebarContainer .userRoleButton, 
.assignUserRoleButton {
    height: 32px;
    width: 32px;
    margin: 1px;
    padding: 0;
}

/*
.sidebarContainer .userRoleButton {
    background-image: url(../../images/_gfx/button-arrowDown.png);
    background-position: 7px 24px;
    background-repeat: no-repeat;
}
*/

.sidebarContainer .sidebarPaneContainer {
    margin-bottom: 5px;
}

.sidebarContainer .sidebarPaneContent {
    padding: 5px;
    border-top: 0 none;
}

.sidebarContainer .sidebarPaneHeader {
    font-size: 11px;
    padding: 5px 5px 0px !important;
    overflow: hidden;
    
    cursor: default !important;
}

.sidebarContainer .sidebarPaneHeader .paneContentVisibility {
    float: right;
    margin-right: -5px;
    margin-top: -3px;
}

.sidebarContainer div button {
    border: none;
    background: none;
    padding: 1px;
}

.sidebarContainer .userRoleButton:hover,
.assignUserRoleButton:hover {
    box-shadow: 1px 1px 2px #666;
    -moz-box-shadow: 1px 1px 2px #666;
    -webkit-box-shadow: 1px 1px 2px #666;
    margin: 0;
}