/*********************************
 * Buttons                       *   
 ********************************/
button.disabled {
    background-position:left center;
    background-repeat:no-repeat;
}

button.enabled {
    background-position:left center;
    background-repeat:no-repeat;
    cursor:pointer;
}

td.nimbuButton {
    padding: 0 !important;
}

tr td.nimbuButton div {
    border: 1px solid transparent;
}

tr td.nimbuButton div.disabled {
    background-position:left top !important;
    opacity: 0.3;
    zoom:1; 
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}

tr td.nimbuButton div.enabled {
    opacity: 1.0;
    zoom:1;
    filter: none;
}

/*********************************
 * Ribbon Panel                  *   
 ********************************/

/* Default styles for any ribbon panel */
div.ribbonPanel {
    margin: auto;
    min-height: 70px;
    float: left;
    margin-right: 2px;
    margin-bottom: 0px;
}

/* Styles for the description of a single ribbon panel */
body p.ribbonPanelDescription {
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
    text-align: center;
    border: 0;
    border-top: 1px solid #AAAAAA !important;
    cursor: default !important;
    line-height: normal !important;
    margin-bottom: 0 !important;
    font-weight: bold !important;
    font-size: 8.5pt !important;
}

body p.actionText {
    line-height: inherit !important;
    font-size: smaller !important;
}

/****************************
 * Action panel size styles *
 ***************************/

td.nimbuButton button.buttonImage {
    background-size: contain;
}

/* Quick Actions Panel CSS */
div.quickIcons {
    float: left;
    margin-right: 3px;
    margin-top: -2px;
    padding-left: 1px;
    padding-top: 1px;
}

tr.quickPanel {
    height:20px;
    margin:0;
    padding:0;
}

div.ribbonPanelquickPanel {
    vertical-align: top;
}

tr.quickPanel td {
    width: 20px;
    height: 20px;
    border: medium none;
    margin: 0;
    padding: 0;
}

tr.quickPanel td.nimbuButton div { 
    width: 18px;
    height: 18px;
    padding: 0;
    margin-right: 1px;
}

tr.quickPanel button.buttonImage {
    height: 20px;
    width: 20px;
    margin: 0;
    margin-top: -1px;
    margin-left: -1px;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.subPanel {
    float: left;
    min-height: 70px;
}

/* Tiny Button */
div.tinyPanelSubPanel td.nimbuButton div {
    min-width: 18px;
    height: 18px;
    padding: 0;
    margin: auto;
}

div.tinyPanelSubPanel td.nimbuButton div.enabled.ui-state-hover {
    box-shadow: 1px 1px 2px #666;
    -moz-box-shadow: 1px 1px 2px #666;
    -webkit-box-shadow: 1px 1px 2px #666;
}

div.tinyPanelSubPanel td.nimbuButton div.enabled.highlight {
    box-shadow: 0px 0px 1px #666;
    -moz-box-shadow: 0px 0px 1px #666;
    -webkit-box-shadow: 0px 0px 1px #666;
}

div.tinyPanelSubPanel button.buttonImage {
    height: 20px;
    width: 20px;
    margin: 0;
    margin-top: -1px;
    margin-left: -1px;
    padding: 0;
    border: 0px;
    outline: 0px;
    background-color: transparent;
}

div.tinyPanelSubPanel p.actionText {
    float: left;
    text-align: center;
    cursor: default;
    margin: 0 !important;
    margin-top: 5px !important;
    padding: 2px;
}

/* Small Ribbon Panel CSS */

div.smallPanelSubPanel td.nimbuButton div {
    min-width:22px;
    height: 22px;
    padding: 0;
    margin: auto;
}

div.smallPanelSubPanel td.nimbuButton div.enabled.ui-state-hover {
    box-shadow: 1px 1px 2px #666;
    -moz-box-shadow: 1px 1px 2px #666;
    -webkit-box-shadow: 1px 1px 2px #666;
}

div.smallPanelSubPanel td.nimbuButton div.enabled.highlight {
    box-shadow: 0px 0px 1px #666;
    -moz-box-shadow: 0px 0px 1px #666;
    -webkit-box-shadow: 0px 0px 1px #666;
}

div.smallPanelSubPanel button.buttonImage {
    height: 24px;
    width: 24px;
    margin: 0;
    margin-top: -1px;
    margin-left: -1px;
    padding: 0;
    border: 0;
    outline: 0px;
    background-color: transparent;
}

div.smallPanelSubPanel p.actionText {
    float: left;
    text-align: center;
    cursor: default;
    margin: 0 !important;
    margin-top: 7px !important;
    padding: 1px;
}

/* Medium Ribbon Panel CSS */
div.mediumPanelSubPanel td.nimbuButton div {
    min-width: 30px;
    height: 30px;
    padding: 0;
    margin: auto;
}

div.mediumPanelSubPanel td.nimbuButton div.enabled.ui-state-hover {
    box-shadow: 1px 1px 2px #666;
    -moz-box-shadow: 1px 1px 2px #666;
    -webkit-box-shadow: 1px 1px 2px #666;
}

div.mediumPanelSubPanel td.nimbuButton div.enabled.highlight {
    box-shadow: 0px 0px 1px #666;
    -moz-box-shadow: 0px 0px 1px #666;
    -webkit-box-shadow: 0px 0px 1px #666;
}

div.mediumPanelSubPanel button.buttonImage {
    height: 32px;
    width: 32px;
    margin: 0;
    margin-top: -1px;
    margin-left: -1px;
    padding: 0;
    border: 0px;
    outline: 0px;
    background-color: transparent;
}

div.mediumPanelSubPanel p.actionText {
    float: left;
    text-align: center;
    cursor: default;
    margin: 0 !important;
    margin-top: 9px !important;
    padding: 2px;
}

/* Large Ribbon Panel CSS */
div.largePanelSubPanel td.nimbuButton div {
    min-width: 64px;
    height: 64px;
    padding: 0;
    margin: auto;
}

div.largePanelSubPanel td.nimbuButton div.enabled.ui-state-hover {
    box-shadow: 1px 1px 2px #666;
    -moz-box-shadow: 1px 1px 2px #666;
    -webkit-box-shadow: 1px 1px 2px #666;
}

div.largePanelSubPanel td.nimbuButton div.enabled.highlight {
    box-shadow: 0px 0px 1px #666;
    -moz-box-shadow: 0px 0px 1px #666;
    -webkit-box-shadow: 0px 0px 1px #666;
}

div.largePanelSubPanel button.buttonImage {
    height: 64px;
    width: 64px;
    margin: 0;
    margin-top: -1px;
    margin-left: -1px;
    padding: 0;
    border: 0px;
    outline: 0px;
    background-color: transparent;
}

div.largePanelSubPanel p.actionText {
    text-align: center;
    cursor: default;
    margin: 0 !important;
    margin-top: -13px !important;
    padding: 2px;
    font-size: smaller;
}


/* Medium tool bar buttons integrated at other position than tool bar*/
.mediumToolBarButtonExt {
    width: 24px;
    height: 24px;
    border: medium none;
    margin: 0;
    padding: 0;
}

.mediumToolBarButtonExt div {
    width: 22px;
    height: 22px;
    padding: 0;
}

.mediumToolBarButtonExt button.buttonImage {
    height: 24px;
    width: 24px;
    margin: 0;
    margin-top: -1px;
    margin-left: -1px;
    padding: 0;
    border: 0;
    background-color: transparent;
}

/* Small tool bar buttons integrated at other position than tool bar*/
.smallToolBarButtonExt {
    width: 20px;
    height: 20px;
    border: medium none;
    margin: 0;
    padding: 0;
}

.smallToolBarButtonExt div {
    width: 20px;
    height: 20px;
    padding: 0;
}

.smallToolBarButtonExt button.buttonImage {
    height: 20px;
    width: 20px;
    margin: 0;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0;
    border: 0;
    background-color: transparent;
}

/* Toolbar dropdown CSS */
tr.dropdownPanel {
    height:24px;
    margin:0;
    padding:0;
}

div.ribbonPaneldropdownPanel {
    vertical-align: top;
}

body div.ribbonPaneldropdownPanel p {
    margin-top: 16px !important;
}

*html div.ribbonPaneldropdownPanel p {
    margin-top: 18px !important;
}

tr.dropdownPanel td {
    height: 24px;
    border: medium none;
    margin: 0;
    padding: 0;
}

tr.dropdownPanel td.nimbuButton div {
    height: 22px;
    padding: 0;
    margin: auto;
}

.iconContainer {
    float: right; 
    position: relative; 
    margin-top: -23px; 
    margin-right: 3px;
}

.iconContainer div {
    margin-left: 5px;
}

.iconContainer div.showVersion {
    margin-top: 7px;
}

/* Fullscreen icon */
.fullscreenButton {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: -1px;
}

.fullscreenInactive {
    background-image: url(../images/icons/fullscreen-on.png);
}

.fullscreenActive {
    background-image: url(../images/icons/fullscreen-off.png);
}

/* Maximize icon */
.maximizeButton {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: -1px;
}

.maximizeInactive {
    background-image: url(../images/icons/maximize-on.png);
}

.maximizeActive {
    background-image: url(../images/icons/maximize-off.png);
}