<div id="autoCorrectProperties_{containerId}" class="dialogPanelContainer">
    <table class="dialogPanels">
        <tr>
            <td class="ribbonPanel ui-widget-content">
                <div class="dialogPanelInnerContainer" style="padding-top: 8px;">
                    <input type="checkbox" id="replaceExpressions_{containerId}" />
                    <label for="replaceExpressions_{containerId}" >[L_EXPRESSION_CORRECTOR_DESCRIPTION]</label>
                    <div class="expressionTableContainer" style="width: 100%; height: 256px; overflow-y: scroll">
                        <table border="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                    <th>[L_AUTO_CORRECT_COLUMN_WORD]
                                    </th>
                                    <th>[L_AUTO_CORRECT_COLUMN_REPLACEMENT]
                                    </th>
                                    <th>[L_AUTO_CORRECT_COLUMN_LANGUAGE]
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="ribbonPanel ui-widget-content">
                <table>
                    <tr>
                        <td><input type="checkbox" id="lowerCaseSentence_{containerId}" />
                        <label for="lowerCaseSentence_{containerId}" >[L_SENTENCE_START_WORD_UPPER_CASE_CORRECTOR_DESCRIPTION]</label>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="lowerCaseCell_{containerId}" />
                        <label for="lowerCaseCell_{containerId}">[L_CELL_START_WORD_CORRECTOR_DESCRIPTION]</label>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="lowerCaseWord_{containerId}" />
                        <label for="lowerCaseWord_{containerId}">[L_WORD_START_CAPS_LOCK_CORRECTOR_DESCRIPTION]</label>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="autoHyperlinks_{containerId}" />
                        <label for="autoHyperlinks_{containerId}" >[L_AUTO_HYPERLINK_CORRECTOR_DESCRIPTION]</label>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>