<div id="changeLanguage_{containerId}" class="dialogPanelContainer">
    <table class="dialogPanels">
        <tr>
            <td class="ribbonPanel ui-widget-content">
                <div class="dialogPanelInnerContainer">
                    <table border="0" cellspacing="0" class="rowColumn">
                        <tr>
                            <td>
                                <label>[L_CHANGE_DOCUMENT_LANGUAGE]</label>
                            </td>
                            <td>
                                <select id="selectDocumentLanguage_{containerId}">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>[L_CHANGE_FRAGMENT_LANGUAGE]</label>
                            </td>
                            <td>
                                <select id="selectFragmentLanguage_{containerId}">
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>