<ul>
    <li>
        <a href="#changeCase_{containerId}">[L_CHANGE_CASE_TAB]</a>
    </li>
</ul>
<div id="changeCase_{containerId}" class="dialogPanelContainer">
    <table class="dialogPanels">
        <tr>
            <td class="ribbonPanel ui-widget-content">
                <div class="dialogPanelInnerContainer">
                    <table border="0" cellspacing="0" class="rowColumn">
                        <tr>
                            
                            <td>
                                <input type="radio" name="changeCaseRadio_{containerId}" value="lowercase" id="changeCaseRadio_{containerId}_lowerCase" />
                            </td>
                            <td>
                                <label style="vertical-align: middle" for="changeCaseRadio_{containerId}_lowerCase">[L_LOWERCASE]</label>
                            </td>
                            
                            <td>
                                <input type="radio" name="changeCaseRadio_{containerId}" value="UPPERCASE" id="changeCaseRadio_{containerId}_upperCase" />
                            </td>
                            <td>
                                <label style="vertical-align: middle" for="changeCaseRadio_{containerId}_upperCase">[L_UPPERCASE]</label>
                            </td>
                            
                            <td>
                                <input type="radio" name="changeCaseRadio_{containerId}" value="Title Case" id="changeCaseRadio_{containerId}_titleCase" />
                            </td>
                            <td>
                                <label style="vertical-align: middle" for="changeCaseRadio_{containerId}_titleCase">[L_TITLECASE]</label>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>
                                <input type="radio" name="changeCaseRadio_{containerId}" value="tOGGLE cASE" id="changeCaseRadio_{containerId}_toggleCase"/>
                            </td>
                            <td>
                                <label style="vertical-align: middle" for="changeCaseRadio_{containerId}_toggleCase">[L_TOGGLECASE]</label>
                            </td>
                            
                            <td>
                                <input type="radio" name="changeCaseRadio_{containerId}" value="Sentence case" id="changeCaseRadio_{containerId}_sentenceCase"/>
                            </td>
                            <td>
                                <label style="vertical-align: middle" for="changeCaseRadio_{containerId}_sentenceCase">[L_SENTENCECASE]</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>