<ul>
    <li>
        <a href="#compareDocumentsDialog_{containerId}">[L_COMPARE_DOCUMENTS_TAB]</a>    
    </li>
</ul>
<div id="compareDocumentsDialog_{containerId}" class="dialogPanelContainer">
    <table class="dialogPanels">
        <tr>
            <td class="ribbonPanel ui-widget-content">
                <div class="dialogPanelInnerContainer">
                    <table border="0" cellspacing="0">
                        <tr>
                            <td>
                                <label for="table_rows">[L_COMPARE_FILE1_URL]</label>
                            </td>
                            <td>
                                <input type="text" size="30" id="compare_file1_field_{containerId}" name="rows" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="table_rows">[L_COMPARE_FILE2_URL]</label>
                            </td>
                            <td>
                                <input type="text" size="30" id="compare_file2_field_{containerId}" name="rows" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>