<div id="copyPasteDialog_{containerId}" class="dialogPanelContainer">
    <table class="dialogPanels">
        <tr>
            <td class="ribbonPanel ui-widget-content" style="text-align: center; vertical-align: middle; min-width: 300px; max-height: 150px; width: 150px; min-height: 150px; border: 1px solid AAAAAA; padding: 5px; margin: 0;">
                <p style="margin: 0.2cm;">[L_COPY_AND_PASTE_DIALOG_DESCRIPTION]:</p>
                <table>
                    <tr>
                        <td id="copyPasteDialog_{containerId}_copy" style="font-size: 150%;"></td>
                        <td id="copyPasteDialog_{containerId}_cut" style="font-size: 150%;"></td>
                        <td id="copyPasteDialog_{containerId}_paste" style="font-size: 150%;"></td>
                    </tr>
                    <tr>
                        <td>[L_COPY_AND_PASTE_DIALOG_TO_COPY]</td>
                        <td>[L_COPY_AND_PASTE_DIALOG_TO_CUT]</td>
                        <td>[L_COPY_AND_PASTE_DIALOG_TO_PASTE]</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>