<div id="endComparisonDialog_{containerId}" class="dialogPanelContainer">
    <table class="dialogPanels">
        <tr>
            <td class="ribbonPanel ui-widget-content" style="width: 400px !important; min-width: 400px !important;">
                <p style="margin: 0.2cm;">[L_END_COMPARISON_MODE_DIALOG_PROMPT]</p>
            </td>
        </tr>
    </table>
</div>