<div id="generalColor_default_{containerId}" class="dialogPanelContainer">
    <table class="dialogPanels">
        <tr>
            <td class="ribbonPanel ui-widget-content align-top">
                <div class="dialogPanelInnerContainer">
                    <table border="0" cellspacing="0">
                        <tr>
                            <th>
                                [L_TEXTCOLOR_DEFAULT_TAB]
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <table class="colorPickerTable" id="generalColor_default_color_table_{containerId}" cellspacing="0" cellpadding="0">
                                    
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td class="ribbonPanel ui-widget-content align-top">
                <div class="dialogPanelInnerContainer">
                    <table border="0" cellspacing="0">
                        <tr>
                            <th>
                                [L_TEXTCOLOR_CUSTOM_TAB]
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <table class="colorPickerTable" id="generalColor_custom_color_table_{containerId}" cellspacing="0" cellpadding="0">
                                    
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td class="ribbonPanel ui-widget-content align-top">
                <div class="dialogPanelInnerContainer">
                    <table border="0" cellspacing="0">
                        <tr>
                            <th>
                                [L_TEXTCOLOR_FREE_TAB]
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <div class="colorSelector2">
                                    <div id="colorPicker_{containerId}"></div>
                                </div>
                                <div style="float: right; height: 36px; margin-top: 9px;">
                                    <input size="7" type="text" id="hexvalue_{containerId}" />
                                </div>
                                <div style="margin-bottom: 5px; clear: both;">
                                    <button id="colorSelectorSubmit_{containerId}">[L_APPLY_BUTTON]</button>
                                </div>
                                <div>
                                    <button id="colorSelectorAdd_{containerId}">[L_ADD_TO_CUSTOM_COLORS_BUTTON]</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>