<ul>
    <li>
        <a href="#headerFooterDialog_{containerId}">Edit Header/Footer</a>    
    </li>
</ul>
<div id="headerFooterDialog_{containerId}" class="dialogPanelContainer headerFooterContainer">
    <div class="dialogEditor" style="width: 700px; height: 350px;" id="headerfooter_{containerId}"></div>
</div>