<ul>
    <li>
        <a href="#insertImage_{containerId}">[L_INSERT_IMAGE_TAB]</a>
    </li>
</ul>
<div id="insertImage_{containerId}" class="dialogPanelContainer">
    <table class="dialogPanels">
        <tr>
            <td class="ribbonPanel ui-widget-content" style="text-align: center; vertical-align: middle; min-width: 150px; max-height: 150px; width: 150px; min-height: 150px; border: 1px solid AAAAAA; padding: 5px; margin: 0;">
                <img style="display: none; max-width: 150px; max-height: 150px; width: 150px;" id="preview_image_{containerId}" src="" />
                <img style="display: none; width: 24px; height: 24px;" id="preview_image_spinner_{containerId}" src="" />
            </td>
            <td class="ribbonPanel ui-widget-content">
                <div class="dialogPanelInnerContainer">
                    <table border="0" cellspacing="0">
                        <tr>
                            <td colspan="2"><p>[L_INSERT_IMAGE_DESCRIPTION]</p></td>
                        </tr>
                        <tr>
                            <td>
                                <label>[L_INSERT_IMAGE_URL]</label>
                            </td>
                            <td>
                                <input type="text" size="30" id="image_url_field_{containerId}" />
                                <input type="hidden" size="30" id="image_dest_field_{containerId}" />
                                <input type="button" id="image_open_file_button_{containerId}" value="{L_OPEN_FILECHOOSER}" onclick="document.getElementById('image_open_file_{containerId}').click();" />
                                <input id="image_open_file_{containerId}" type="file" style="display: none;"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="checkbox" id="image_convert_to_data_uri_checkbox_{containerId}" /><label for="image_convert_to_data_uri_checkbox_{containerId}">[L_CONVERT_IMAGE_TO_DATA_URI]</label></td>
                        </tr>
                    </table>
                    <table border="0" cellspacing="0">
                        <tr>
                            <td>
                                <label>[L_INSERT_IMAGE_ALTTEXT]</label>
                            </td>
                            <td>
                                <input type="text" size="18" id="image_alt_field_{containerId}" />
                            </td>
                         </tr>
                         <tr>
                            <td>
                                <label>[L_INSERT_IMAGE_BORDERWIDTH]</label>
                            </td>
                            <td>
                                <input type="text" size="6" id="image_border_width_{containerId}" />
                            </td>
                         </tr>
                         <tr>
                            <td>
                                <label>[L_INSERT_IMAGE_SIZE]</label>
                            </td>
                            <td>
                                <input type="text" size="6" id="image_size_width_field_{containerId}" />
                                x <input type="text" size="6" id="image_size_height_field_{containerId}" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>