<ul>
    <li>
        <a href="#insertAnnotation_{containerId}">[L_INSERT_ANNOTATION_TAB]</a>
    </li>
</ul>
<div id="insertAnnotation_{containerId}" class="dialogPanelContainer">
    <table class="dialogPanels">
        <tr>
            <!--<td class="ribbonPanel ui-widget-content">
                <div class="dialogPanelInnerContainer">
                    <table border="0" cellspacing="0">
                        <tr>
                            <td>
                                <label style="vertical-align: middle">[L_ANNOTATION_TIME]</label>
                            </td>
                            <td>
                                <span id="annotation_time_{containerId}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="vertical-align: middle">[L_ANNOTATION_AUTHOR]</label>
                            </td>
                            <td>
                                <span id="annotation_author_{containerId}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="vertical-align: middle">[L_ANNOTATION_UID]</label>
                            </td>
                            <td>
                                <span id="annotation_uid_{containerId}"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>-->
            <td class="ribbonPanel ui-widget-content">
                <div class="dialogPanelInnerContainer">
                    <table border="0" cellspacing="0">
                        <tr>
                            <td>
                                <label style="vertical-align: middle">[L_ANNOTATION_TEXTFIELD]</label>
                            </td>
                            <td>
                                <textarea cols="40" rows="8" id="annotation_text_{containerId}"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>