<ul>
    <li>
        <a href="#insertSpecialCharDefault_{containerId}">[L_SPECIALCHAR_DEFAULT_TAB]</a>
    </li>
</ul>
<div id="insertSpecialCharDefault_{containerId}" class="dialogPanelContainer">
    <table class="dialogPanels">
        <tr>
            <td class="ribbonPanel ui-widget-content align-top">
                <div class="dialogPanelInnerContainer">
                    
                    <table border="0" cellspacing="0">
                        <tr>
                            <td>
                                <select id="specialCharacter_blockchooser_{containerId}" class="unicodeBlockChooser">
                                </select>
                            </td>
                            
                            <td class="specialCharacter-ui-northeast align-top">
                                <label for="specialCharhexVvalue_{containerId}">[L_INSERT_SPECIAL_CHARACTER_HEX_CODE]</label>
                                <input type="text" size="5" id="specialCharHexVvalue_{containerId}" name="hex" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="specialCharacter-ui-southeast align-top">
                                <div id="specialCharacter_characterchooser_{containerId}" class="characterChooser ui-widget-content">
                                    
                                </div>
                            </td>
                        </tr>
                    </table>
                    
                </div>
            </td>
        </tr>
    </table>
</div>