<ul>
    <li>
        <a href="#loadUrlDialog_{containerId}">[L_LOADURLDIALOG_LOAD_TAB]</a>
    </li>
</ul>
<div id="loadUrlDialog_{containerId}" class="dialogPanelContainer">
    <table class="dialogPanels">
        <tr>
            <td class="ribbonPanel ui-widget-content">
                <div class="dialogPanelInnerContainer">
                    <table border="0" cellspacing="0">
                        <tr>
                            <td>
                                <label style="vertical-align: middle">[L_LOADURLDIALOG_URL]</label>
                            </td>
                            <td>
                                <input style="vertical-align: middle" type="text" size="35" id="url_field_{containerId}" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>