<ul>
    <li>
        <a href="#splitCell_{containerId}">[L_SPLIT_CELL_TAB]</a>
    </li>
</ul>
<div id="splitCell_{containerId}" class="dialogPanelContainer">
    <table class="dialogPanels">
        <tr>
            <td class="ribbonPanel ui-widget-content">
                <div class="dialogPanelInnerContainer">
                    <table border="0" cellspacing="0" class="rowColumn">
                        <tr>
                            <td>
                                <label style="vertical-align: middle">[L_SPLIT_CELL_ROWS]</label>
                            </td>
                            <td>
                                <input type="text" size="20" id="split_cell_rows_{containerId}" name="split_cell_rows" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="vertical-align: middle">[L_SPLIT_CELL_COLUMNS]</label>
                            </td>
                            <td>
                                <input type="text" size="20" id="split_cell_columns_{containerId}" name="split_cell_columns" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>