<div id="tableProperties_{containerId}" class="dialogPanelContainer">
    <table class="dialogPanels">
        <tr>
            <td class="ribbonPanel ui-widget-content">
                <div class="dialogPanelInnerContainer">
                    <table border="0" cellspacing="0">
                        <tr>
                            <td>
                                <label>[L_TABLEDIALOG_WIDTH]</label>
                            </td>
                            <td>
                                <input type="text" size="6" id="table_properties_width_{containerId}" value="100" />
                                <select id="table_properties_width_unit_{containerId}">
                                    <option value="percent" selected="selected">[L_WIDTH_BY_PERCENT]</option>
                                    <option value="px">[L_WIDTH_BY_PX]</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr /></td>
                        </tr>
                        <tr>
                            <td>
                                <label>[L_TABLEDIALOG_ALIGNMENT]</label>
                            </td>
                            <td>
                                <select id="table_properties_alignment_{containerId}" style="min-width: 85px;">
                                    <option value="default" selected="selected">[L_ALIGNMENT_DEFAULT]</option>
                                    <option value="left">[L_ALIGNMENT_LEFT]</option>
                                    <option value="center">[L_ALIGNMENT_CENTER]</option>
                                    <option value="right">[L_ALIGNMENT_RIGHT]</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr /></td>
                        </tr>
                        <tr>
                            <td>
                                <label>[L_TABLEDIALOG_CELLPADDING]</label>
                            </td>
                            <td>
                                <input type="text" size="4" id="table_properties_cell_padding_{containerId}" value="1" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>[L_TABLEDIALOG_CELLSPACING]</label>
                            </td>
                            <td>
                                <input type="text" size="4" id="table_properties_cell_spacing_{containerId}" value="2" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr /></td>
                        </tr>
                        <tr>
                            <td>
                                <label>[L_TABLEDIALOG_BORDER_WIDTH]</label>
                            </td>
                            <td>
                                <input type="text" size="4" id="table_properties_border_width_{containerId}" value="1" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>[L_TABLEDIALOG_BORDER_COLOR]</label>
                            </td>
                            <td>
                                <button class="generalColorPickerButton" id="tablePropertiesBorderColorPicker_{containerId}"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr /></td>
                        </tr>
                        <tr>
                            <td>
                                <label>[L_TABLE_BACKGROUND_COLOR]</label>
                            </td>
                            <td>
                                <button class="generalColorPickerButton" id="tablePropertiesColorPicker_{containerId}"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>