.canvaseditorstyles {
    border: 0 !important;
}

.pageWrapper {
    margin-left: auto !important;
    margin-right: auto !important;
    
    padding-left: 20px;
    padding-right: 20px;
    
    /*border: 3px dotted green;*/
    
    text-align: left;
}

.editor.continuousMode {
    background-color: #f8f8f8;
}

.editor.continuousMode .pageWrapper {
    padding: 0;
    border-spacing: 0;
}

.editor.continuousMode td.pageContainer {
    padding: 0 !important;
}

.zoomComponent {
    height: 100%;
}


.pageContainer div, .pageContainer span, .pageContainer span {
    white-space: pre;
    overflow: visible;
}

.editor {
    background-color: #ddd;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    height: 100%;
    width: auto;
    overflow-x: auto; 
    overflow-y: scroll; 
    display: block; 
    visibility: visible; 
    position: relative; 
    margin: 0px; 
    z-index: 2;
}

.fragment {
    position: relative;
    cursor: text;
}

.pageContainer div.viewBox {
    position: absolute;
}

.pageContainer > div.elementPage {
    position: relative !important;
    margin: 16px auto;
    background-color: white;
    border: 1px solid #999999;
    box-shadow: 2px 2px 2px #888;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    z-index: 0;
    overflow: hidden;
}

.pageContainer > div.elementPage.isContinuous {
    margin: 0;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    
}

.pageContainer div.viewLine {
    position: absolute;
    text-align: left;
}

.pageContainer div.justify > span.viewFragment {
    position: relative;
}

.pageContainer div.viewListItemMarker {
    position: absolute;
}

.copysheet {
    font-size: 13px;
    position: absolute;
    left: -10000px;
    top: 0px;
    width: 100px;
    overflow: hidden;
    width: 10px;
    height: 10px;
}

.pastesheet {
    font-size: 13px;
    position: absolute;
    left: -10000px;
    top: 0px;
    width: 100px;
    overflow: hidden;
    width: 10px;
    height: 10px;
}

.copyHelper {
    font-size: 13px;
    position: absolute;
    left: -10000px;
    top: 0px;
    width: 100px;
    overflow: hidden;
    width: 10px;
    height: 10px;
}

.blurHelper {
    position: absolute;
    left: -10000px;
    top: 0px;
}


/************************* 
 * Caret & Selection
 *************************/

div.caret {
    cursor: text;
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    z-index: 1;
}

div.caret.prohibitedSymbol:after {
    content: "";
    display: block;
    bottom: -0.25em;
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    max-width: 32px;
    max-height: 32px;
    min-width: 12px;
    min-height: 12px;
    
    background-image: url(../images/ProhibitedSymbol.svg);
    
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    
    transition: background-size 0.1s;
    -webkit-transition: background-size 0.1s; /* Safari */
    -o-transition: background-size 0.1s; /* Opera */
}

div.caret.prohibitedSymbol.bigSymbol:after {
    background-size: 100%;
}

div.caret.prohibitedSymbol.fadeSymbol:after {
    background-size: 0;
    
}

div.selection {
    cursor: text;
}

.selectionEffect {
    -webkit-box-shadow: 0px 0px 10px 10px #ff8800;
    -moz-box-shadow: 0px 0px 10px 10px #ff8800;
    -o-box-shadow: 0px 0px 10px 10px #ff8800;
    box-shadow: 0px 0px 10px 10px #ff8800;
    
    background-color: #ff8800 !important;
}

.selectionEffect2 {
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    
    -webkit-box-shadow: 0px 0px 0px 0px #ff8800 !important;
    -moz-box-shadow: 0px 0px 0px 0px #ff8800 !important;
    -o-box-shadow: 0px 0px 0px 0px #ff8800 !important;
    box-shadow: 0px 0px 0px 0px #ff8800 !important;
}

.selection > *,
.selectionHighlight {
    background-color: #BFDBFF;
    opacity: 0.4;
    filter:alpha(opacity=40);
    z-index: 3;
    right: auto;
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


/************************* 
 * Read Only View Mode
 *************************/
 

.readOnlyViewEnabled .editableTrue .viewFragment.editableTrue,
.readOnlyViewEnabled .editableFalse .viewFragment.editableFalse {
    background-color: transparent !important;
}

.readOnlyViewEnabled .editableFalse,
.readOnlyViewEnabled .editableTrue .viewFragment.editableFalse,
.readOnlyViewEnabled .editableFalse .editableTrue .viewFragment.editableFalse {
    background-color: #eee !important;
    color: #999 !important;
    text-shadow: 0 0 8px #777;
    border-radius: 2px;
}

.readOnlyViewEnabled .editableFalse .editableTrue,
.readOnlyViewEnabled .editableTrue .editableFalse .viewFragment.editableTrue {
    background-color: #fff !important;
    color: #000 !important;
    text-shadow: none;
    border-radius: 0;
}


/************************* 
 * View Marker
 *************************/
 
span.viewMarker.spellcheck {
    background-image: url(../images/wiggly.gif);
    background-position: bottom left;
    background-repeat: repeat-x;
}

/**************************
 * Annotation bubble
 **************************/
 
 div.elementBubbleArea {
    z-index: -2;
 }
 
div.roBubble {
    cursor: default;
    z-index: -1;
}

div.roBubble > div.bubbleLineContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0
}

div.roBubble > div.bubbleLineContainer > div.bubbleLine {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0;
    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    -o-transform-origin: bottom right;
    transform-origin: bottom right;
    z-index: -1;
}

div.roBubble > div.bubbleLineContainer > div.bubbleLine:first-of-type {
    border-top-style: dashed !important;
    border-top-width: 1px !important;
}

div.roBubble > div.bubbleLineContainer > div.bubbleLine:last-of-type {
    border-bottom-style: dashed !important;
    border-bottom-width: 1px !important;
}

div.roBubble:hover > div.bubbleLineContainer > div.bubbleLine {
    z-index: 999999;
    bottom: -1px;
}

div.roBubble:hover > div.bubbleLineContainer > div.bubbleLine:first-of-type {
    border-top-width: 2px !important;
}

div.roBubble:hover > div.bubbleLineContainer > div.bubbleLine:last-of-type {
    border-bottom-width: 2px !important;
    bottom: -2px !important;
}

div.roBubble > div.bubbleLineContainer > div.bubbleTriangle {
    position: absolute;
    border: 6px solid transparent;
    width: 0;
    height: 0;
}