.ui-wrapper {
    overflow: visible !important;
}

.ui-wrapper > img {
    outline: 2px dotted black;
}

.imagecontainerHandle .ui-resizable-n {
    width: 6px !important;
    height: 6px !important;
    outline: 2px solid black;
    background-color: #FFFFFF;
    margin-bottom: 1px;
}

.imagecontainerHandle .ui-resizable-e {
    width: 6px !important;
    height: 6px !important;
    outline: 2px solid black;
    background-color: #FFFFFF;
    margin-right: 1px;
}

.imagecontainerHandle .ui-resizable-s {
    width: 6px !important;
    height: 6px !important;
    outline: 2px solid black;
    background-color: #FFFFFF;
    margin-bottom: 1px;
}

.imagecontainerHandle .ui-resizable-w {
    width: 6px !important;
    height: 6px !important;
    outline: 2px solid black;
    background-color: #FFFFFF;
    margin-left: 1px;
}

.imagecontainerHandle .ui-resizable-ne {
    background-image: url("../../images/_gfx/icons/handledot.png");
    top: -10px !important;
    cursor: ne-resize !important;
    height: 16px !important;
    right: -10px !important;
    width: 16px !important;
}

.imagecontainerHandle .ui-resizable-se {
    background-image: url("../../images/_gfx/icons/handledot.png") !important;
    background-position: 0 0 !important;
    bottom: -10px !important;
    cursor: se-resize !important;
    height: 16px !important;
    right: -10px !important;
    width: 16px !important;
}

.imagecontainerHandle .ui-resizable-sw {
    background-image: url("../../images/_gfx/icons/handledot.png");
    bottom: -10px !important;
    cursor: sw-resize !important;
    height: 16px !important;
    left: -10px !important;
    width: 16px !important;
}

.imagecontainerHandle .ui-resizable-nw {
    background-image: url("../../images/_gfx/icons/handledot.png");
    top: -10px !important;
    cursor: nw-resize !important;
    height: 16px !important;
    left: -10px !important;
    width: 16px !important;
}

/** Table **/
.tableElementHandle {
    outline: 1px dotted black;
}

.elementTable .ui-resizable-se {
    background-image: none;
    background-position: 0 0 !important;
    cursor: se-resize !important;
    height: 16px !important;
    width: 16px !important;
}

.elementTable .ui-resizable-e {
    cursor: col-resize !important;
}

/** Container **/
.containerElementHandle {
    border: 2px dotted black;
}

.containerElementHandle .ui-resizable-n {
    width: 6px !important;
    height: 6px !important;
    outline: 2px solid black;
    background-color: #FFFFFF;
    margin-bottom: 1px;
}

.containerElementHandle .ui-resizable-e {
    width: 6px !important;
    height: 6px !important;
    outline: 2px solid black;
    background-color: #FFFFFF;
    margin-right: 1px;
}

.containerElementHandle .ui-resizable-s {
    width: 6px !important;
    height: 6px !important;
    outline: 2px solid black;
    background-color: #FFFFFF;
    margin-bottom: 1px;
}

.containerElementHandle .ui-resizable-w {
    width: 6px !important;
    height: 6px !important;
    outline: 2px solid black;
    background-color: #FFFFFF;
    margin-left: 1px;
}

.containerElementHandle .ui-resizable-ne {
    background-image: url("../../images/_gfx/icons/handledot.png");
    cursor: ne-resize !important;
    height: 16px !important;
    width: 16px !important;
}

.containerElementHandle .ui-resizable-se {
    background-image: url("../../images/_gfx/icons/handledot.png") !important;
    background-position: 0 0 !important;
    cursor: se-resize !important;
    height: 16px !important;
    width: 16px !important;
}

.containerElementHandle .ui-resizable-sw {
    background-image: url("../../images/_gfx/icons/handledot.png");
    cursor: sw-resize !important;
    height: 16px !important;
    width: 16px !important;
}

.containerElementHandle .ui-resizable-nw {
    background-image: url("../../images/_gfx/icons/handledot.png");
    cursor: nw-resize !important;
    height: 16px !important;
    width: 16px !important;
}


span div.ui-wrapper {
    display: inline-block !important;
    position: relative !important;
    left: 0 !important;
}

img.ui-resizable {
    z-index: 1999 !important;
}

#dimensionMarker {
    display: none;
    position: absolute;
    min-width: 60px;
    line-height: 20px !important;
    text-align: center !important;
    z-index: 2099 !important;
}

#dragHandle {
    position: relative;
    cursor: move;
}

#dragImageHelper {
    width: 15px;
    height: 15px;
    border: 2px dotted black;
    z-index: 2100 !important;
}

.dragHelper {
    width: 15px;
    height: 15px;
    z-index: 2100 !important;
    position: absolute;
    display: none;
}

#ratioToggle {
    position: absolute;
}

.highZIndex {
    z-index: 9999 !important;
}

/**
 * Container Handler Trigger
 */

.miniToolbarActive {
     
}

#handleMiniToolbar {
    padding: 2px;
    padding-right: 0px;
    z-index: 9999 !important;
    opacity: 0.2;
    filter:alpha(opacity=20);
    display: block;
    position: absolute;
   	white-space: normal !important;
    line-height: inherit !important;
}

#handleMiniToolbar div{
    white-space: normal !important;
    line-height: normal !important;
}

.miniToolbarButton {
    margin-right: 2px;
}

.ui-icon-float-left {
    background-image: url("../../images/editoricons/float-left.png") !important;
    background-position: center;
    margin-top: -7px !important;
}

.ui-icon-float-right {
    background-image: url("../../images/editoricons/float-right.png") !important;
    background-position: center;
    margin-top: -7px !important;
}

.ui-icon-float-none {
    background-image: url("../../images/editoricons/float-none.png") !important;
    background-position: center;
    margin-top: -7px !important;
}

.ui-icon-flip-horizontal {
    background-image: url("../../images/editoricons/flip-horizontal.png") !important;
    background-position: center;
    margin-top: -7px !important;
}

.ui-icon-flip-vertical {
    background-image: url("../../images/editoricons/flip-vertical.png") !important;
    background-position: center;
    margin-top: -7px !important;
}

.ui-icon-rotate-clockwise {
    background-image: url("../../images/editoricons/rotate-clockwise.png") !important;
    background-position: center;
    margin-top: -7px !important;
}

.ui-icon-apply {
    background-image: url("../../images/editoricons/change-link.png") !important;
    background-position: center;
    margin-top: -7px !important;
}

.ui-icon-edit {
    background-image: url("../../images/editoricons/edit-link.png") !important;
    background-position: center;
    margin-top: -7px !important;
}

.ui-icon-change-src {
    background-image: url("../../images/editoricons/load-document-dialog-small.png") !important;
    background-position: center;
    margin-top: -7px !important;
}

#linkHandleToolbar {
    padding: 2px;
    z-index: 10001 !important;
    display: block;
    position: absolute;
	white-space: normal !important;
    line-height: inherit !important;
}

#linkHandleToolbar div{
    white-space: normal !important;
    line-height: normal !important;
}

#linkHandleSrc {
	font-size: 12px;
	font-family: Arial;
	z-index: 10002;
	width: 175px;
	margin-top: -3px;
}

#linkHandleSrcLink {
	font-size: 12px;
	text-decoration: underline !important;
	color: #0000EE !important;
	width: 180px;
	display: inline-block;
	padding-left: 4px;
	padding-right: 2px;
}

.tableRowMarkerBottom {
    position: absolute;
    z-index: 1002;
}

.tableRowMarkerTop {
    position: absolute;
    z-index: 1002;
}

.tableCellResize {
	position: absolute;
	z-index: 1001;
}

.tableCellResizeRight.active {
	cursor: col-resize !important;
}

.tableCellResizeBottom.active {
	cursor: row-resize !important;
}

.tableSelect {
    position: absolute;
}

.tableSelectRight.active {
    cursor: w-resize !important;
}

.tableSelectLeft.active {
    cursor: e-resize !important;
}

.tableSelectTop.active {
    cursor: s-resize !important;
}

.tableSelectBottom.active {
    cursor: n-resize  !important;
}

/*******************************
 * Format Painter
 *******************************/

.formatPainterEnabled{
    cursor: url(../images/formatPainterCursor.png), crosshair !important;
}