/*******************************
 * Document Marker Styles 
 *******************************/

/* Paragraph Marker */

.editor.markerEnabled :not(.preventMarker) .viewLine:last-of-type .viewFragment:last-of-type:after {
    position: relative;
    
    display: inline-block;
    
    min-width: 0px;
    max-width: 0px;
    width: 0px;
    
    content: "\00B6";
    
    font-family: sans-serif;
    
    text-indent: 0;
}

/* Line Break Marker */

.editor.markerEnabled .viewLine.hasMarker .viewFragment:last-child:after,
.editor.markerEnabled .viewLine.hasMarker:empty:after {
    position: relative;
    
    display: inline-block;
    
    min-width: 0px;
    max-width: 0px;
    width: 0px;
    
    content: "\21B5";
    
    font-family: sans-serif;
    
    text-indent: 0;
}

/* Page Break Marker */

.editor.markerEnabled .breakPageBeforeAlways{
    border-top: 1px solid lightgray;
}

.editor.markerEnabled .breakPageAfterAlways{
    border-bottom: 1px solid lightgray;
}

.editor.markerEnabled .breakPageBeforeAlways:before,
.editor.markerEnabled .breakPageBeforeAvoid:before,
.editor.markerEnabled .breakPageAfterAlways:before,
.editor.markerEnabled .breakPageAfterAvoid:before {
    display: block;
    
    position: absolute;
    left: -1em;
    height: 14px;
    
    font-size: 14px;
    
    color: lightgray;
    
    font-family: sans-serif;
    
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
    
    letter-spacing: -2px
}


.editor.markerEnabled .breakPageBeforeAlways:before,
.editor.markerEnabled .breakPageBeforeAvoid:before {
    top: -8px;
}

.editor.markerEnabled .breakPageAfterAlways:before,
.editor.markerEnabled .breakPageAfterAvoid:before {
    bottom: -7px;
}

.editor.markerEnabled .breakPageBeforeAlways:before {
    content: "\25C2\25B8";
}

.editor.markerEnabled .breakPageAfterAlways:before {
    content: "\25C2\25B8";
}

.editor.markerEnabled .breakPageBeforeAvoid:before,
.editor.markerEnabled .breakPageAfterAvoid:before {
    content: "\25B8\25C2";
}


/*******************************
 * Element Grid Styles 
 *******************************/

/* Table Grid Style */

.editor.tableGridEnabled .elementTableCell,
.editor.tableGridEnabled .elementTable{
    outline: 1px dashed gray;
}

/* Container Grid Style */

.editor.containerGridEnabled .elementContainer:not(.breakPageAfterAlways) {
    outline: 1px dashed gray;
}