/* text-replace: 
   replace paragraph sign + whitespace with paragraph + non-breaking-space
   replace whitespace + EUR sign with non-breaking-space + EUR sign
*/

body {
    font-size: 8pt;
    prince-text-replace: "\00a7 " "\00a7\00a0" " \20ac" "\00a0\20ac";
}

h2 {
    border-left: 5px solid grey;
    padding-left: 1em;
}

/* Article preface */
.article-title {
    font-family: Verdana;
    font-size: 20pt;
    margin-bottom: 2em;
    hyphens: none;
}

.article-subtitle {
    font-family: Verdana;
    font-size: 16pt;
    margin-bottom: 2em;
    hyphens: none;
}

.main-content {
    columns: 2;
     -ro-column-count: 2;
    text-align: justify;
    counter-reset: endnote;
}

.main-content h2,
.main-content h3,
.main-content h4
 {
    font-weight: bold;
    font-size: 9pt;
    text-align: left;
}

/* Author box */
.main-content .autor-box {
    font-family: Verdana;
    font-size: 7px;
    width: 2.5cm;
    margin-left: -2cm;
    margin-right: 5mm;
    text-align: left;
    font-size: 6pt;
    float: left;
}

.main-content .autor {
    padding-right: 1em;
    border-right: 1px dashed black;
}

.autor-name {
    margin-bottom: 0.5em;
}

.autor-cv {
    margin-bottom: 1.5em;
}

.autor-image {
    width: 100%;
}

.lastname {
    letter-spacing: 0.2em;
}

.main-content ul {
    margin-left: 1.4em;    
}

.main-content ul li p {
    margin: 0;
}


/* Endnotes */

/* horizontal line before first endnote */
.main-content #sdendnote1{
    border-top: 1px solid black;
}

/* Endnotes */

.endnote {
    counter-increment: endnote; 
    font-size: 6pt;
}

.endnote p::before {
    content: counter(endnote) ") ";
}


/* no margin for inner <p> */
.endnote p {
    margin: 0;
    margin-bottom: 0.5em;
}

/* hide generated endnote number */
.sdendnotesym {
    display: none;
}

a.sdendnoteanc {
    font-size: 6pt;
    color: black;
    text-decoration: none;
    margin-left: -0.4em;
    margin-right: -0.2em;
}
