/* 
 *  left pages get pagenumber on the left and vice versa
 */

@page {
    @top {
        border-bottom: 1px solid black;
        content: string(articletitle);
        font-size: 6pt;
        height: 10px;
        margin-top: 1cm;
        margin-bottom: 1cm;
        width: 100%;
    }

    @top-left {
        border-bottom: 1px solid black;
        margin-top: 1cm;
        margin-bottom: 1cm;
        margin-left: -2cm;
        margin-right: -2cm;
    }
    @top-right {
        border-bottom: 1px solid black;
        margin-top: 1cm;
        margin-bottom: 1cm;
        margin-left: 2cm;
        margin-right: 2cm;
    }
    @top-right-corner {
        border-bottom: 1px solid black;
    }
    @top-left-corner {
        border-bottom: 1px solid black;
    }

}

@page {
    size: a4;
}

h1.headline {
    string-set: articletitle content(); 
    padding:0;
    margin:0;
    display: none;
}

@page:left {
    @top-left {
        content: flow(header-point);
    }
    @top {
        text-align: left;
    }
}

@page:right {
    @top-right {
        content: flow(header-point);
    }
    @top {
        text-align: right;
    }
}

.header-point {
    flow: static(header-point);
}
