/* 
 *  left pages get pagenumber on the left and vice versa
 */

@page {
    @bottom {
        content: "PersV 6 - 2011";
        font-size: 88%;
    }
}

@page:left {
    @bottom-left {
        content: counter(page);
        font-size: 88%;
        font-weight: bold;
    }
    @bottom {
        text-align: left;
        margin-left: 2em;
    }
}

@page:right {
    @bottom-right {
        content: counter(page);
        font-size: 88%;
        font-weight: bold;
    }

    @bottom {
        text-align: right;
        margin-right: 2em;
    }
}


