
.main-content h2 {
    counter-increment: c1;
    counter-reset: c2;
}

.main-content h3 {
    counter-increment: c2;
    counter-reset: c3;
}

.main-content h4 {
    counter-increment: c3;
    counter-reset: c4;
}


.main-content h2 {
    prince-bookmark-label: counter(c1) '. ' content();
    prince-bookmark-level: 1;
}

.main-content h2::before {
    content: counter(c1) '. ';
}

.main-content h3 {
    prince-bookmark-label: counter(c1) '.' counter(c2) ' ' content();
    prince-bookmark-level: 2;
}

.main-content h3::before {
    content: counter(c1) '.' counter(c2) ' ';
}

.main-content h4 {
    prince-bookmark-label: counter(c1) '.' counter(c2) '.' counter(c3) ' '  content();
    prince-bookmark-level: 3;
}

.main-content h4::before {
    content: counter(c1) '.' counter(c2) '.' counter(c3) ' ';
}

