/***************************************************************
 * Context Definitions
 * 
 * ro-document-context            =       document root-block context
 * ro-text-context                =       normal text context (no heading)
 * 
 * ro-paragraph-context           =       EDF paragraph element context
 * ro-heading-context             =       heading text context (as opposed to ro-paragraph-context)
 *  
 * ro-table-context               =       EDF table element context
 * ro-table-row-group-context     =       EDF table row group context
 * ro-table-row-context           =       EDF table row element context
 * ro-table-cell-context          =       EDF table cell element context
 *  
 * ro-table-heading-cell-context  =       header cell context
 *  
 *  
 * ro-ordered-list-context        =       ordered list context
 * ro-list-context                =       EDF list element context
 *  
 * ro-list-item-context           =       EDF list item element context
 *  
 * ro-bullet-list-context         =       bullet list context
 *  
 * ro-container-context           =       EDF container element context
 *  
 * ro-image-context               =       image context
 *  
 * ro-hyperlink-context           =       hyperlink context
 *  
 * ro-ruler-context               =       ruler context
 *  
 ***************************************************************/

/***************************************************************
 * Document Element
 ***************************************************************/

body {
    -ro-context: "ro-document-context",
                 "ro-text-context";
}

/***************************************************************
 * Paragraph Elements
 ***************************************************************/

p {
    -ro-context: "ro-paragraph-context", 
                 "ro-text-context";
}

h1, h2, h3, h4, h5, h6 {
    -ro-context: "ro-heading-context",
                 "ro-paragraph-context";
}

/***************************************************************
 * Container Elements
 ***************************************************************/

div:not(.ro-page-break){
    -ro-context: "ro-container-context", 
                 "ro-text-context";
}

div:not(.ro-page-break) > p{
        -ro-context: "ro-container-context",
                     "ro-paragraph-context", 
                     "ro-text-context";
}

div:not(.ro-page-break) > :ro-matches(h1, h2, h3, h4, h5, h6){
        -ro-context: "ro-container-context",
                     "ro-heading-context", 
                     "ro-paragraph-context";
}

/***************************************************************
 * Table Definitions
 ***************************************************************/

table{
    -ro-context: "ro-table-context";
}

thead, tbody, tfoot {
    -ro-context: "ro-table-context", 
                 "ro-table-row-group-context";
}

tr{
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context";
}

td {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-text-context";
}

td > p {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-paragraph-context",
                 "ro-text-context";
}

td > :ro-matches(h1, h2, h3, h4, h5, h6) {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-paragraph-context",
                 "ro-heading-context";
}

th {
    -ro-context: "ro-table-context", 
                 "ro-table-row-group-context", 
                 "ro-table-row-context", 
                 "ro-table-cell-context", 
                 "ro-table-heading-cell-context",
                 "ro-text-context";
}

th > p {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-table-heading-cell-context",
                 "ro-paragraph-context",
                 "ro-text-context";
}

th > :ro-matches(h1, h2, h3, h4, h5, h6) {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-table-heading-cell-context",
                 "ro-paragraph-context",
                 "ro-heading-context";
}

/***************************************************************
 * List Definitions
 ***************************************************************/

ol{
    -ro-context: "ro-ordered-list-context",
                 "ro-list-context";
}

ol > li{
    -ro-context: "ro-ordered-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-text-context";
}

ol > li > p{
    -ro-context: "ro-ordered-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-paragraph-context", 
                 "ro-text-context";
}

ol > li > :ro-matches(h1, h2, h3, h4, h5, h6){
    -ro-context: "ro-ordered-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-paragraph-context", 
                 "ro-heading-context";
}


ul{
    -ro-context: "ro-bullet-list-context",
                 "ro-list-context";
}

ul > li{
    -ro-context: "ro-bullet-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-text-context";
}

ul > li > p{
    -ro-context: "ro-bullet-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-paragraph-context", 
                 "ro-text-context";
}

ul > li > :ro-matches(h1, h2, h3, h4, h5, h6){
    -ro-context: "ro-bullet-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-paragraph-context", 
                 "ro-heading-context";
}

/***************************************************************
 * Image Definitions
 ***************************************************************/

img{
    -ro-context: "ro-image-context";
}

a[href] > img{
    -ro-context: "ro-hyperlink-context",
                 "ro-image-context";
}

body > img {
    -ro-context: "ro-text-context",
                 "ro-image-context";
}

body > a[href] > img {
    -ro-context: "ro-text-context",
                 "ro-hyperlink-context",
                 "ro-image-context";
}

p > img {
    -ro-context: "ro-text-context",
                 "ro-paragraph-context", 
                 "ro-image-context";
}

p > a[href] > img {
    -ro-context: "ro-text-context",
                 "ro-paragraph-context", 
                 "ro-hyperlink-context",
                 "ro-image-context";
}

:ro-matches(h1, h2, h3, h4, h5, h6) > img {
    -ro-context: "ro-heading-context",
                 "ro-paragraph-context",
                 "ro-image-context";
}

:ro-matches(h1, h2, h3, h4, h5, h6) > a[href] > img {
    -ro-context: "ro-heading-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context",
                 "ro-image-context";
}

div:not(.ro-page-break) > img {
    -ro-context: "ro-container-context",
                 "ro-text-context",
                 "ro-image-context";
}

div:not(.ro-page-break) > a[href] > img {
    -ro-context: "ro-container-context",
                 "ro-text-context",
                 "ro-hyperlink-context",
                 "ro-image-context";
}

ol > li > img {
    -ro-context: "ro-ordered-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-text-context",
                 "ro-image-context";
}

ol > li > a[href] > img {
    -ro-context: "ro-ordered-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-text-context",
                 "ro-hyperlink-context",
                 "ro-image-context";
}
 
ol > li > p > img{
    -ro-context: "ro-ordered-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-text-context",
                 "ro-paragraph-context",
                 "ro-image-context";
}

ol > li > p > a[href] > img{
    -ro-context: "ro-ordered-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-text-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context",
                 "ro-image-context";
}

ol > li > :ro-matches(h1, h2, h3, h4, h5, h6) > img{
    -ro-context: "ro-ordered-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-heading-context",
                 "ro-paragraph-context",
                 "ro-image-context";
}

ol > li > :ro-matches(h1, h2, h3, h4, h5, h6) > a[href] > img{
    -ro-context: "ro-ordered-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-heading-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context",
                 "ro-image-context";
}

ul > li > img {
    -ro-context: "ro-bullet-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-text-context",
                 "ro-image-context";
}

ul > li > a[href] > img {
    -ro-context: "ro-bullet-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-text-context",
                 "ro-hyperlink-context",
                 "ro-image-context";
}

ul > li > p > img{
    -ro-context: "ro-bullet-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-text-context",
                 "ro-paragraph-context",
                 "ro-image-context";
}

ul > li > p > a[href] > img{
    -ro-context: "ro-bullet-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-text-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context",
                 "ro-image-context";
}

ul > li > :ro-matches(h1, h2, h3, h4, h5, h6) > img{
    -ro-context: "ro-bullet-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-heading-context",
                 "ro-paragraph-context",
                 "ro-image-context";
}

ul > li > :ro-matches(h1, h2, h3, h4, h5, h6) > a[href] > img{
    -ro-context: "ro-bullet-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-heading-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context",
                 "ro-image-context";
}

td > img {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-text-context",
                 "ro-image-context";
}

td > a[href] > img {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-text-context",
                 "ro-hyperlink-context",
                 "ro-image-context";
}

td > p > img {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-text-context",
                 "ro-paragraph-context",
                 "ro-image-context";
}

td > p > a[href] > img {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-text-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context",
                 "ro-image-context";
}

td > :ro-matches(h1, h2, h3, h4, h5, h6) > img {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-heading-context",
                 "ro-paragraph-context",
                 "ro-image-context";
}

td > :ro-matches(h1, h2, h3, h4, h5, h6) > a[href] > img {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-heading-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context",
                 "ro-image-context";
}

th > img {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-table-heading-cell-context",
                 "ro-text-context",
                 "ro-image-context";
}

th > a[href] > img {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-table-heading-cell-context",
                 "ro-text-context",
                 "ro-hyperlink-context",
                 "ro-image-context";
}

th > p > img {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-table-heading-cell-context",
                 "ro-text-context",
                 "ro-paragraph-context",
                 "ro-image-context";
}

th > p > a[href] > img {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-table-heading-cell-context",
                 "ro-text-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context",
                 "ro-image-context";
}

th > :ro-matches(h1, h2, h3, h4, h5, h6) > img {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-table-heading-cell-context",
                 "ro-heading-context",
                 "ro-paragraph-context",
                 "ro-image-context";
}

th > :ro-matches(h1, h2, h3, h4, h5, h6) > a[href] > img {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-table-heading-cell-context",
                 "ro-heading-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context",
                 "ro-image-context";
}

/***************************************************************
 * Ruler Definitions
 ***************************************************************/
 
hr{
    -ro-context: "ro-ruler-context";
}

/***************************************************************
 * Hyperlink Definitions
 ***************************************************************/

a[href] {
    -ro-context: "ro-hyperlink-context";
}

body > a[href] {
    -ro-context: "ro-text-context",
                 "ro-hyperlink-context";
}

p > a[href] {
    -ro-context: "ro-text-context",
                 "ro-paragraph-context", 
                 "ro-hyperlink-context";
}

:ro-matches(h1, h2, h3, h4, h5, h6) > a[href] {
    -ro-context: "ro-heading-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context";
}

div:not(.ro-page-break) > a[href] {
    -ro-context: "ro-container-context",
                 "ro-text-context",
                 "ro-hyperlink-context";
}

ol > li > a[href] {
    -ro-context: "ro-ordered-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-text-context",
                 "ro-hyperlink-context";
}
 
ol > li > p > a[href]{
    -ro-context: "ro-ordered-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-text-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context";
}

ol > li > :ro-matches(h1, h2, h3, h4, h5, h6) > a[href]{
    -ro-context: "ro-ordered-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-heading-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context";
}

ul > li > a[href] {
    -ro-context: "ro-bullet-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-text-context",
                 "ro-hyperlink-context";
}

ul > li > p > a[href]{
    -ro-context: "ro-bullet-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-text-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context";
}

ul > li > :ro-matches(h1, h2, h3, h4, h5, h6) > a[href]{
    -ro-context: "ro-bullet-list-context",
                 "ro-list-context",
                 "ro-list-item-context",
                 "ro-heading-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context";
}

td > a[href] {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-text-context",
                 "ro-hyperlink-context";
}

td > p > a[href] {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-text-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context";
}

td > :ro-matches(h1, h2, h3, h4, h5, h6) > a[href] {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-heading-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context";
}

th > a[href] {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-table-heading-cell-context",
                 "ro-text-context",
                 "ro-hyperlink-context";
}

th > p > a[href] {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-table-heading-cell-context",
                 "ro-text-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context";
}

th > :ro-matches(h1, h2, h3, h4, h5, h6) > a[href] {
    -ro-context: "ro-table-context",
                 "ro-table-row-group-context",
                 "ro-table-row-context",
                 "ro-table-cell-context",
                 "ro-table-heading-cell-context",
                 "ro-heading-context",
                 "ro-paragraph-context",
                 "ro-hyperlink-context";
} 