h1, h2, h3, h4, h5, h6 {
    -ro-next-element-template: "<p>&nbsp;</p>";
    -ro-priority: -1;
}

/**
    NOTE: we can not use Verdana here because of kerning differences between the rendering in Firefox
    and the Java component. This is especially noticeable using h6 or small font sizes.
**/

html{
    word-wrap: break-word;
}

@media print{
    body {
        margin: 0;
        -ro-priority: -1;
    }
}

/**
 * Legal Numbering
 */

.ln1, .ln2, .ln3, .ln4 {
  margin-left: 1.5cm;
  -ro-priority: -1;
}

.ln5, .ln6 {
  margin-left: 2.5cm;
  -ro-priority: -1;
}

.ln1 {
  counter-increment: ln1 1;
  counter-reset: ln2 ln3 ln4 ln5 ln6;
  
  /* cross reference for legal numbering: */
  string-set: lnS counter(ln1);
  -ro-priority: -1;
}

.ln2 {
  -ro-counter-set: ln1 1 -ro-less(1);
  counter-increment: ln2 1;
  counter-reset: ln3 ln4 ln5 ln6;
  
  /* cross reference for legal numbering: */
  string-set: lnS counter(ln1) "." counter(ln2);
  -ro-priority: -1;
}

.ln3 {
  -ro-counter-set: ln1 1 -ro-less(1) ln2 1 -ro-less(1);
  counter-increment: ln3 1;
  counter-reset: ln4 ln5 ln6;
  
  /* cross reference for legal numbering: */
  string-set: lnS counter(ln1) "." counter(ln2) "." counter(ln3);
  -ro-priority: -1;
}

.ln4 {
  -ro-counter-set: ln1 1 -ro-less(1) ln2 1 -ro-less(1) ln3 1 -ro-less(1);
  counter-increment: ln4 1;
  counter-reset: ln5 ln6;
  
  /* cross reference for legal numbering: */
  string-set: lnS counter(ln1) "." counter(ln2) "." counter(ln3) "." counter(ln4);
  -ro-priority: -1;
}

.ln5 {
  -ro-counter-set: ln1 1 -ro-less(1) ln2 1 -ro-less(1) ln3 1 -ro-less(1) ln4 1 -ro-less(1);
  counter-increment: ln5 1;
  counter-reset: ln6;
  
  /* cross reference for legal numbering: */
  string-set: lnS counter(ln1) "." counter(ln2) "." counter(ln3) "." counter(ln4) "." counter(ln5);
  -ro-priority: -1;
}

.ln6 {
  -ro-counter-set: ln1 1 -ro-less(1) ln2 1 -ro-less(1) ln3 1 -ro-less(1) ln4 1 -ro-less(1) ln5 1 -ro-less(1);
  counter-increment: ln6 1;
  
  /* cross reference for legal numbering: */
  string-set: lnS counter(ln1) "." counter(ln2) "." counter(ln3) "." counter(ln4) "." counter(ln5) "." counter(ln6);
  -ro-priority: -1;
}

.lnhide {
  counter-increment: none;
  counter-reset: none;
  -ro-counter-set: none;
  
  /* cross reference for legal numbering: */
  string-set: none;
  -ro-priority: -1;
}

.lnrestart {
  counter-reset: ln1 ln2 ln3 ln4 ln5 ln6;
  -ro-priority: -1;
}

.ln1::before {
  content: counter(ln1);
  -ro-priority: -1;
}

.ln2::before {
  content: counter(ln1) "." counter(ln2);
  -ro-priority: -1;
}

.ln3::before {
  content: counter(ln1) "." counter(ln2) "." counter(ln3);
  -ro-priority: -1;
}

.ln4::before {
  content: counter(ln1) "." counter(ln2) "." counter(ln3) "." counter(ln4);
  -ro-priority: -1;
}

.ln5::before {
  content: counter(ln1) "." counter(ln2) "." counter(ln3) "." counter(ln4) "." counter(ln5);
  -ro-priority: -1;
}

.ln6::before {
  content: counter(ln1) "." counter(ln2) "." counter(ln3) "." counter(ln4) "." counter(ln5) "." counter(ln6);
  -ro-priority: -1;
}

.lnhide::before {
  visibility: hidden;
  
  /* cross reference for legal numbering: */
  content: string(lnS, ro-continuous); visibility: hidden; /* cross reference for legal numbering */
  -ro-priority: -1;
}

/* Visualization with floats */

/* prevent overlapping of legal numbers */
.ln1 + *, .ln2 + *, .ln3 + *, 
.ln4 + *, .ln5 + *, .ln6 + * {
  clear: left;
  -ro-priority: -1;
}

.ln1::before, .ln2::before,
.ln3::before, .ln4::before,
.ln5::before, .ln6::before {
  margin-left: -1.5cm;
  margin-right: 1ex;
  float: left;
  -ro-vertical-align: baseline;
  -ro-priority: -1;
}

/* increased left margin for level five and six */
.ln5::before, .ln6::before {
  margin-left: -2.5cm;
  -ro-priority: -1;
}

/* Visualization with static position */

div.ln1::before,
div.ln2::before,
div.ln3::before,
div.ln4::before,
div.ln5::before,
div.ln6::before,
ol.ln1::before,
ol.ln2::before,
ol.ln3::before,
ol.ln4::before,
ol.ln5::before,
ol.ln6::before,
ul.ln1::before,
ul.ln2::before,
ul.ln3::before,
ul.ln4::before,
ul.ln5::before,
ul.ln6::before,
table.ln1::before,
table.ln2::before,
table.ln3::before,
table.ln4::before,
table.ln5::before,
table.ln6::before {
  margin-left: auto;
  margin-right: 1ex;
  position: absolute;
  left: 8px;
  -ro-priority: -1;
}