@namespace ro "http://www.realobjects.com/review";

/*
 * generic annotationrules
 */

ro|annotationstart, ro|annotationend { 
    text-align: left; 
}

ro|annotationstart:before {
    border: solid 1px ro-contextColor("com/realobjects/edf/comments/border-color");
    border-top-left-radius: 6pt;
    border-bottom-left-radius: 6pt;
    border-right: 0pt;
    background-color: ro-contextColor("com/realobjects/edf/comments/background-color");
    padding: 0pt;
    margin: 0pt;
    margin-right: 0pt;
    color: #777;
    font-family: Roboto;
    font-weight: normal;
    text-decoration: none;
    font-style: none;
}

ro|annotationend:before {
    white-space: pre;
    border: solid 1px ro-contextColor("com/realobjects/edf/comments/border-color");
    border-top-right-radius: 6pt;
    border-bottom-right-radius: 6pt;
    border-left: 0pt;
    background-color: ro-contextColor("com/realobjects/edf/comments/background-color");
    padding: 0pt;
    margin: 0pt;
    margin-left: 0pt;
    color: #777;
    font-family: Roboto;
    font-weight: normal;
    text-decoration: none;
    font-style: none;
}

/*
 * annotation bubble rules
 */

ro|annotationstart:before {
    -ro-id: comment-bubble;
    content: "\2009";
}

ro|annotationend:before {
    -ro-id: comment-bubble;
    content: "\2009";
}

ro|annotationend:after {
    -ro-id: comment-bubble;
    -ro-bubble: enable;
    
    position: absolute;
    right: 0;
    width: 5cm;
    margin: 1px;
    margin-bottom: 3px;
    padding: 4px;
    
    border: solid 1px ro-contextColor("com/realobjects/edf/comments/border-color");
    -ro-bubble-line-width: 1px;
    background-image: -ro-linear-gradient(ro-contextColor("com/realobjects/edf/comments/border-color"), ro-contextColor("com/realobjects/edf/comments/background-color"));
    background-color: ro-contextColor("com/realobjects/edf/comments/background-color");
    text-align: left;
    
    font: normal normal 11pt Roboto;
    color: black;
    text-decoration: none;
    white-space: pre-wrap;
    
    line-height: 1.25;
    
    content: "\"\2009" attr(text) "\2009\"\A\A0\2013\A0" attr(author); /* something about this line lets the CSS parser freak out */
    
    widows: 3;
    orphans: 3;
}

/*
 * annotation inline rules
 */

ro|annotationstart:before {
    -ro-id: comment-inline;
    content: "\2009";
}

ro|annotationend:before {
    -ro-id: comment-inline;
    content: "\2009";
}


/*
 * Bubble position depeding on view mode
 */

@media screen {
    ro|annotationend:after {
        right: 0.1cm;
    }
}

@media print {
    ro|annotationend:after {
        right: 0;
    }
}
