@namespace ro "http://www.realobjects.com/review";

/*
 * generic change rules
 */


/* document changes */

ro|changestart, ro|changeend {
    display: none;
    -ro-priority: -1;
}

/*
 * general change-bubble rules
 */

ro|changestart::ro-after{
    -ro-bubble-line-width: 1px; 
    -ro-bubble-line-end: arrow; 
    
    position: absolute; 
    right: 0; 
    width: 5cm; 
    
    margin: 1px; 
    padding: 4px; 
    padding-top: 0px;
    
    border-radius: 6px 6px; 
    
    background-color: white;
    
    text-align: left; 
    
    font: normal normal 10pt Roboto; 
    
    color: black; 
    
    text-decoration: none; 
    
    text-indent: 0;
    
    white-space: pre-wrap; 
    
    line-height: 1.25;
    
    widows: 3; 
    orphans: 3;
    
    -ro-priority: -1;
}

/*
 * change-insertion-bubble rules
 */

ro|changestart[type="ro-edf-insertion"]::ro-after{
    -ro-id: change-insertion-bubble;
    -ro-bubble: enable;
    -ro-bubble-line-end-orientation: down;
    
    content: applicationValue("L_BUBBLE_INSERTION")"\a " ro-section-description("ro-edf-insertion");
    
    border: solid 1px ro-contextColor("com/realobjects/edf/changes/insertion-border-color");
    
    background-image: -ro-linear-gradient(ro-contextColor("com/realobjects/edf/changes/insertion-border-color") 13.5pt, white 13.5pt);
}

/*
 * change-deletion-bubble rules
 */

ro|changestart[type="ro-edf-deletion"]::ro-after{
    -ro-id: change-deletion-bubble;
    -ro-bubble: enable;
    -ro-bubble-line-end-orientation: up;
    
    content: applicationValue("L_BUBBLE_DELETION")"\a " ro-section-description("ro-edf-deletion");
    
    border: solid 1px ro-contextColor("com/realobjects/edf/changes/deletion-border-color");
    
    background-image: -ro-linear-gradient(ro-contextColor("com/realobjects/edf/changes/deletion-border-color") 13.5pt, white 13.5pt);
}

/*
 * Bubble position depeding on view mode
 */

@media screen {
    ro|changestart::ro-after{
        right: 0.1cm;
    }
}

@media print {
    ro|changestart::ro-after{
        right: 0;
    }
}