<div id="copysheet" class="copysheet" contenteditable="true"></div>
<div id="pastesheet" class="pastesheet" contenteditable="true"></div>
<div id="copyHelper" class="copyHelper">dummyText</div>
<div id="dragHelper" class="dragHelper" class="ui-icon"></div>
<button id="blurHelper" class="blurHelper"></button>

<div id="editor" class="editor ui-layout-center ui-layout-pane ui-layout-pane-center open" pane="center">
    <div id="zoomComponent" class="zoomComponent">
        <table id="pageWrapper" class="pageWrapper">
            <tbody>
                <tr>
                    <td id="pageContainer" class="pageContainer">
                    </td>
                </tr>
            </tbody>
        </table>
        
           <input type="text" size="0" class="nimbumobileinputhelper" style="display: none" autocapitalize="off" autocomplete="off" autocorrect="off" />
        
    </div>
    <div class="nimbumobileinputtrigger" style="display: none">Trigger Mobile Keyboard</div>
</div>