/****************************************************
 * Page
 ****************************************************/
 
@page{
    size: letter portrait;
    
    counter-increment: page;
    
    margin: 1in 0.5in;
    
    padding-top: 0.25in;
    padding-bottom: 0.05in;
    padding-left: 2.5in;
    padding-right: 0;
    
    @top-center{
        content: string(title, last-except);
        border-bottom: 0.025in solid #8E501D;
        text-align: left;
        vertical-align: bottom;
        padding-bottom: 0.075in;
        
        font-family: Alegreya;
        font-size: 0.2in;
        
        color: #633B22;
    }
    
    @bottom-right{
        content: counter(page);
        border-top: 0.035in solid #633B22;
        
        margin-left: 2in;
        
        width: 5.5in;
        
        font-family: Alegreya;
        font-size: 0.3in;
        
        color: #8E501D;
    }
}

/****************************************************
 * Content
 ****************************************************/

html{
    font-family: Roboto;
    font-size: 0.15in;
    line-height: 1.25;
}

body > p {
    text-indent: 0.5in;
}

:ro-matches(h1, h2) + p,
:ro-matches(h1, h2) + div:ro-matches(.sideNote, .sideQuote, .sideIntro) + p {
    text-indent: inherit;
}

div.pageBreak + p, h1 {
    text-indent: inherit;
}

h1{
    margin-left: -2.5in;
    
    text-align: right;
    
    font-size: 1in;
    color: #D79C14;
    
    page-break-before: always;
    
    string-set: title self;
    
    font-family: Alegreya;
}

h2{
    text-align: left;
    
    font-size: 0.25in;
    color: #8E501D;
    
    font-family: Alegreya;
}

img{
    max-width: 100%;
}

div:ro-matches(.sideNote, .sideQuote, .sideIntro){
    float: left;
    width: 2.25in;
    margin-left: -2.5in;
    color: #785432;
    font-size: 0.25in;
    text-align: right;
    
    font-family: Alegreya;
}

div:ro-matches(.sideNote, .sideQuote, .sideIntro) p{
    margin-top: 0;
    margin-bottom: 0;
}

div.sideIntro p:first-child{
    font-weight: bold;
    
    -ro-context: "ro-container-context",
                 "ro-paragraph-context", 
                 "ro-text-context",
                 "sidenote-intro-heading";
}

div.sideIntro :not(:first-child){
    font-size: 0.2in;
}

div.sideQuote > p {
    font-style: italic;
    color: #785432;
    
        -ro-context: "ro-container-context",
                     "ro-paragraph-context", 
                     "ro-text-context",
                     "sidenote-quote";
}

div.sideQuote > :first-child:before {
    content: "\" ";
    float: left;
    
    margin: 0;
    margin-top: -0.05in;
    margin-right: -0.35in;
    
    padding: 0;
    
    line-height: 1;
    
    font-family: Halogen;
    font-size: 0.75in;
    font-style: normal;
    
    color: #D79C14;
}

div.sideQuote > :not(:only-child):last-child{
    font-style: normal;
    font-size: 0.15in;
}

div.sideQuote > :not(:only-child):last-child:before{
    content: "\2014  ";
}

div.sideNote{
    font-size: 0.175in;
}


table{
    border-collapse: collapse;
    font-size: 0.125in;
}

table, td{
    border: none;
    padding: 0.05in;
}

table > tr:first-child{
    color: #D79C14;
    font-family: Alegreya;
    font-size: 0.2in;
    
    border-bottom: 1px solid #633B22;
}

td:not(:last-child){
    border-right: 1px solid #633B22
}

/****************************************************
 * Style Templates
 ****************************************************/

/****************************************************
 * Container
 */
 
:not(*){
    -ro-style-template: default container;
    -ro-style-template-group: "Container Styles";
}

div.sideNote{
    -ro-style-template: "Note" container;
    -ro-style-template-group: "Container Styles";
}

div.sideQuote{
    -ro-style-template: "Quote" container;
    -ro-style-template-group: "Container Styles";
}

div.sideIntro{
    -ro-style-template: "Introduction" container;
    -ro-style-template-group: "Container Styles";
}


div > :ro-no-content{
    background-color: #FEE45B;
    padding: 0.1in;
    line-height: 1;
}

div > :ro-no-content:after{
    display: inline;
    content: "Choose a Template for this Box";
    
    font-family: Anonymous Pro;
    font-weight: bold;
    font-size: 0.2in;
    color: #785432;
    
}

div.sideNote > :ro-no-content:after{
    content: "Remember to keep your notes short!";
}

div.sideNote > :only-child:ro-no-content:after{
    content: "Write the side-note";
}

div.sideQuote > :ro-no-content:after{
    content: "Write the quote";
}

div.sideQuote > :not(:only-child):last-child:ro-no-content:after{
    content: "Add the source";
}

div.sideIntro > :ro-no-content:after{
    content: "Write chapter description";
}

div.sideIntro > :first-child:ro-no-content:after{
    content: "Write chapter title";
}