/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */
.str { color: #080 }  /* string content */
.kwd { color: #008; font-weight: bold }  /* a keyword */
.com { color: #800; font-style: italic }  /* a comment */
.typ { color: #606 }  /* a type name */
.lit { color: #066 }  /* a literal value */
.pun, .opn, .clo { color: #660 } /* punctuation, lisp open bracket, lisp close bracket */
.tag { color: #008 }  /* a markup tag name */
.atn { color: #606 }  /* a markup attribute name */
.atv { color: #080 }  /* a markup attribute value */
.dec, .var { color: #606 }  /* a declaration; a variable name */
.fun { color: red }  /* a function name */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */

/* Alternate shading for lines */
ol.linenums li:nth-child(odd) { background: #fafafa }