html {
    overflow: auto;
    height: 100%;
}

body {
    font: 14px "Verdana", sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    background-color: #96D4E3;
    background-image: -webkit-linear-gradient(#96D4E3, #E5F3F6 300px);
    background-image: linear-gradient(#96D4E3, #E5F3F6 300px);
    background-attachment: fixed;
    counter-reset: example 0;
}

a {
    color: #444;
}

a:visited {
    color: #444;
}

a:active {
    color: #444;
}

header {
    display: block;
    margin: 10pt;
    font-weight: bold;
}

body > header {
    /*
    background-color: ghostwhite;
    background-image: -webkit-linear-gradient(#CDEAF0, #E5F3F6);
    background-image: linear-gradient(#CDEAF0, #E5F3F6);
    */
    color: #0B6078;
    margin: 0;
    padding: 10pt;
}

body > header > h1 {
    margin: 0;
}

article {
    margin: 10pt;
}

article.tutorial {
    counter-reset: chapter 0 subchapter 0;
}

article.tutorial h2 {
    counter-reset: subchapter 0;
}

article.tutorial h2::before {
    counter-increment: chapter;
    content: counter(chapter) ". ";
}

article.tutorial h3::before {
    counter-increment: subchapter;
    content: counter(chapter) "." counter(subchapter) ". ";
}

article.tutorial h5 {
    margin: 8px 0;
}

.class-description {
    font-style: italic;
    font-family: Palatino, 'Palatino Linotype', serif;
    font-size: 130%;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1em;
}

#main {
    width: 78%;
    margin: 0;
    padding: 0;
    float: right;
    border: 1pt solid #96D4E3;
    border-right: none;
    background-color: white;
}

div.app-title {
    float: left;
    margin-left: -5pt;
    color: #0b6078;
}

div.app-title h1 {
    font-size: 2.2em;
    font-weight: normal;
    float: left;
    margin-top: 0;
}

div.app-title p {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

img.app-logo {
    float: left;
}

h1.page-title {
    margin-top: 0.3em;
    float: right;
    padding-right: 1em;
}

section {
    display: block;
    background-color: #fff;
    padding: 12px 24px;
    border-bottom: 1px solid #ccc;
    margin-right: 240px;
}

.variation {
    display: none;
}

.optional:after {
    content: "opt";
    font-size: 60%;
    color: #aaa;
    font-style: italic;
    font-weight: lighter;
}

nav {
    display: block;
    width: 20%;
    padding-left: 0.5em;
    padding-top: 0.5em;
    float: left;
    color: black;
}

nav ul {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    font-size: 100%;
    line-height: 17px;
    padding:0;
    margin:0;
    list-style-type:none;
}

nav h2 a, nav h2 a:visited {
    color: #0B6078;
    text-decoration: none;
}

nav h3 {
    margin-top: 12px;
}

nav li {
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav a,
nav a:visited,
nav a:active,
nav h2,
nav h3, 
nav h4, 
footer {
    color: black;
}

footer {
    display: block;
    padding: 6px;
    padding-top: 12px;
    font-style: italic;
    font-size: 90%;
}

footer a,
footer a:visited,
footer a:active {
    color: gray;
}

h1 {
    font-size: 200%;
    font-weight: bold;
    margin: 6px 0 9px 0;
}

h2 {
    font-size: 170%;
    font-weight: bold;
    margin: 6px 0 3px 0;
}

h3 {
    font-size: 150%;
    font-weight: bold;
    margin-top: 16px;
    margin: 6px 0 3px 0;
}

article > * > dt,
h4 {
    font-size: 130%;
    font-weight: bold;
    margin-top: 16px;
    margin: 18px 0 3px 0;
    color: #0B6078;
}

h5, .container-overview .subsection-title {
    font-size: 120%;
    font-weight: bold;
    margin: 8px 0 3px -16px;
}

h6 {
    font-size: 100%;
    margin: 6px 0 3px 0;
    font-style: italic;
}

.ancestors { color: #999; }
.ancestors a {
    color: #999 !important;
    text-decoration: none;
}

.important {
    font-weight: bold;
    color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    color: #aaa;
}

.name, .signature {
    font-family: Consolas, "Lucida Console", Monaco, monospace;
}

.details { margin-top: 14px; border-left: 2px solid #DDD; }
.details dt { width:100px; float:left; padding-left: 10px;  padding-top: 6px; }
.details dd { margin-left: 50px; }
.details ul { margin: 0; }
.details ul { list-style-type: none; }
.details li { margin-left: 30px; padding-top: 6px; }
.details pre.prettyprint { margin: 0 }
.details .object-value { padding-top: 0; }

.summary {
    margin-left: -16px;
    font-style: italic;
}

.description {
    margin-bottom: 1em;
    margin-left: -16px;
    margin-top: 1em;
}

.code-caption {
    font-style: italic;
    font-family: Palatino, 'Palatino Linotype', serif;
    font-size: 107%;
    margin: 0;
}

.prettyprint {
    border: 1px solid #ddd;
    width: 80%;
    overflow: auto;
}

.details .prettyprint {
    display: inline-block;
    width: auto;
}

.details .prettyprint code {
    border: none;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code {
    font-family: Consolas, 'Lucida Console', Monaco, monospace;
    font-size: 100%;
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: #fff;
    color: #000;
    border-left: 3px #ddd solid;
}

.params, .props {
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}

article.tutorial table.params tr td:first-child,
.params .name, .props .name, .name code {
    color: #0B6078;
    font-family: Consolas, 'Lucida Console', Monaco, monospace;
    font-size: 100%;
}

article.tutorial table.params tr td:nth-child(2),
.params td, .params th, .props td, .props th {
    border: 1px solid #ddd;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

.params thead tr, .props thead tr {
    background-color: #ddd;
    font-weight: bold;
}

.params .params thead tr, .props .props thead tr {
    background-color: #fff;
    font-weight: bold;
}

/*
.params th, .props th { border-right: 1px solid #aaa; }
*/

.params thead .last, .props thead .last { border-right: 1px solid #ddd; }

article.tutorial table.params tr td:nth-child(3) {
    font-family: Consolas, 'Lucida Console', Monaco, monospace;
    font-size: 100%;
}

.disabled {
    color: #454545;
}

div.code {
    margin: 3mm 0mm 3mm 5mm;
    padding: 0.2cm;
    page-break-before: avoid;
    page-break-inside: avoid;
    border: 0.3mm dashed #43617D;
}

div.code > p {
    white-space: pre;
    margin: 0;
    font-family: monospace;
    font-weight: bold;
    color: #43617D;
    font-size: 1em;
}

nav .subnav,
nav .hideSubnav {
    display: none;
}

nav .showSubnav,
nav .hideSubnav {
    padding-left: 0.5em;
    cursor: pointer;
}

nav div.subnav {
    padding-left: 8px;
    margin-bottom: 16px;
    border-left: 1pt dotted black;
}

.description .note,
.description .important {
    border: 0.3mm solid #43617D;
    border-left: 1mm solid #43617D;
    width: 80%;
    overflow: auto;
    padding: 2mm;
    margin: 0;
    background-color: #EDF1F8;
    color: #000;
    font-weight: normal;
    page-break-inside: avoid;
    page-break-before: avoid;
}

.description .note::before,
.description .important::before {
    border-bottom: 1px solid #43617D;
    color: #43617D;
    font-weight: bold;
    padding: 2px;
}

.description .important::before {
    content: "Important:";
}

.description .note::before {
    content: "Note:";
}

h1.exampletitle::before,
h2.exampletitle::before,
h3.exampletitle::before,
h4.exampletitle::before,
h5.exampletitle::before {
    content: "Example " counter(example) ": ";
    counter-increment: example;
}

h1.example::before,
h2.example::before,
h3.example::before,
h4.example::before,
h5.example::before {
    content: "Example " counter(example);
    counter-increment: example;
}
