/**********************************************************************
 *
 * This file contains a set of Core Fonts expected by the server. 
 * 
 * DO NOT DELETE, DO NOT ALTER.
 * 
 **********************************************************************/

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Fallback Fonts
 *
 * The Fallback Fonts are used to display characters not present in
 * their original font.
 *
 * To prevent a different line rendering between server and client 
 * both must use the same font. The Fallback Fonts are used as 
 * catch-all fonts to display the character the same on both ends.
 *
 * The RoFaFo font is the last resort measure as it will render the
 * character as RealObjects logo.
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Annapurna (Devanangari characters) */

@font-face {
  font-family: 'Annapurna';
  src: url('Annapurna/annapurnasil-r-webfont.woff') format('woff'), 
       url('Annapurna/annapurnasil-r-webfont.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Annapurna';
  src: url('Annapurna/annapurnasil-b-webfont.woff') format('woff'), 
       url('Annapurna/annapurnasil-b-webfont.ttf') format('truetype');
  font-weight: bold;
}


/* Gentium Plus (Latin/Greek/Cyrillic/IPA characters) */

@font-face {
  font-family: 'Gentium Plus';
    src: url('GentiumPlus/gentiumplus-r-webfont.woff') format('woff'),
         url('GentiumPlus/gentiumplus-r-webfont.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Gentium Plus';
    src: url('GentiumPlus/gentiumplus-i-webfont.woff') format('woff'),
         url('GentiumPlus/gentiumplus-i-webfont.ttf') format('truetype');
  font-style: italic;
}

/* STIX General */

@font-face {
  font-family: 'STIXGeneral';
  src: url('STIXGeneral/stixgeneral-webfont.woff') format('woff'), 
       url('STIXGeneral/stixgeneral-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIXGeneral';
  src: url('STIXGeneral/stixgeneralitalic-webfont.woff') format('woff'), 
       url('STIXGeneral/stixgeneralitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'STIXGeneral';
  src: url('STIXGeneral/stixgeneralbol-webfont.woff') format('woff'), 
       url('STIXGeneral/stixgeneralbol-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'STIXGeneral';
  src: url('STIXGeneral/stixgeneralbolita-webfont.woff') format('woff'), 
       url('STIXGeneral/stixgeneralbolita-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* RoFaFo */

@font-face {
    font-family: 'RoFaFo';
    src: url('RoFaFo/RoFaFo.ttf') format('truetype');
    /* TODO add woff, eot and svg fonts */
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * CSS font-family keyword Overrides
 * 
 * This set of fonts is present as override for the CSS font-family 
 * keywords "serif", "sans-serif" and "monospace" to ensure the same
 * font is used at the client and server. 
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/* sans-serif */

@font-face {
    font-family: 'sans-serif';
    src: url('Roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sans-serif';
    src: url('Roboto/Roboto-Italic-webfont.woff') format('woff'),
         url('Roboto/Roboto-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'sans-serif';
    src: url('Roboto/Roboto-Bold-webfont.woff') format('woff'),
         url('Roboto/Roboto-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'sans-serif';
    src: url('Roboto/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('Roboto/Roboto-BoldItalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* serif */

@font-face {
    font-family: 'serif';
    src: url('Tinos/Tinos-Regular-webfont.woff') format('woff'),
         url('Tinos/Tinos-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'serif';
    src: url('Tinos/Tinos-Italic-webfont.woff') format('woff'),
         url('Tinos/Tinos-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'serif';
    src: url('Tinos/Tinos-Bold-webfont.woff') format('woff'),
         url('Tinos/Tinos-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'serif';
    src: url('Tinos/Tinos-BoldItalic-webfont.woff') format('woff'),
         url('Tinos/Tinos-BoldItalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* monospace */

@font-face {
    font-family: 'monospace';
    src: url('AnonymousPro/Anonymous_Pro-webfont.woff') format('woff'),
         url('AnonymousPro/Anonymous_Pro-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'monospace';
    src: url('AnonymousPro/Anonymous_Pro_I-webfont.woff') format('woff'),
         url('AnonymousPro/Anonymous_Pro_I-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'monospace';
    src: url('AnonymousPro/Anonymous_Pro_B-webfont.woff') format('woff'),
         url('AnonymousPro/Anonymous_Pro_B-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'monospace';
    src: url('AnonymousPro/Anonymous_Pro_BI-webfont.woff') format('woff'),
         url('AnonymousPro/Anonymous_Pro_BI-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}