@font-face {
    font-family: "DejaVu Sans";
    src: url("DejaVuSans-Bold.ttf");
    font-style: normal;
    font-weight: bold;
    font-color: 80,81,84;
}

@font-face {
    font-family: "DejaVu Sans";
    src: url("DejaVuSans.ttf");
    font-style: normal;
    font-weight: normal;
    font-color: 80,81,84;
}
@page {
/*
  size: 210mm 297mm;
  padding: 0;
*/
  margin: 30mm 30mm 20mm 30mm;   
}
#header {
        text-align:left;
}
#header .dgho {
    margin:0 0 4mm 0;
}
#header .dgho img,
#header .onkopedia img {
    width: 78.3mm;
}
#header .onkopedia-leitlinien img {
    padding-top:3mm;
    width: 77.5mm;
}
/* Cover (1st page) */
#cover {
    page-break-after: always;
    font-family: "DejaVu Sans";
    page: cover;
    text-align: left;
}

#cover-title { 
    color: #6D6D72;
    z-index: 100;
    line-height: 1.2;
    padding: 0;
    padding-top: 5cm;
    margin:0; 
    font-weight: bold;
    text-align: left;
    font-size:26pt;
}

#cover-subtitle { 
    color: #0A5098;
    padding: 0; 
    margin: 0;
    text-align: left;
    z-index: 100;
    font-size:18pt;
    margin-top: 1em;
    font-weight: bold;
}

/* Preface (2nd page) */

.preface {
    padding-top: 104mm;
    page-break-after: always;
    font-family: "DejaVu Sans";
    page: preface;
}

.preface-item { 
  color: #000;
  padding: 0; 
  margin: 0;
  text-align: left;
  z-index: 100;
  font-size: 14pt;
  font-weight: bold;
}
.preface p {
    color: #000;
    padding: 0; 
    margin: 3mm 0;
    text-align: left;
    z-index: 100;
    font-size:10.5pt;
}
p.preface-footer { 
  margin-top:20mm;
}
img { 
    vertical-align: top;
    border: none; 
    margin: 0; 
    padding: 0;
}

.infos {
    position: absolute;
    top: 182mm;
    left: 0cm; 
    hyphens: none;
}
.infos-nologo {
    position: absolute;
    top: 215mm;
    left: 0cm; 
    hyphens: none;
}
#footer {
    position: absolute;
    top: 200mm;
    left: 0cm; 
    border-top:1pt solid #6D6D72;
    text-align: left;
    padding:5mm 0 0 0;
    width:100%;
}
#footer span {margin:3mm 0;}
#footer span,
.infos-nologo,
.infos {
    font-size: 14pt; 
    color: #6D6D72;
}
.infos-nologo,
.infos {
    line-height:1.2em;
}
/* Logos */
#logos {
    vertical-align: top;
    text-align: left;
    margin:0.5cm 0 0 0;
}
#logos ul {list-style-type: none;text-align: left;margin:0; padding:5mm 0 0 0}
#logos li {display: inline;vertical-align: top; }

#dgho-logo {
    width: 32mm;
    padding-right:5mm;
}              

#oegho-logo {
    width: 32mm;
    padding-right:5mm;
}              

#sgmo-logo {
    width: 10mm;
    padding-right:5mm;
}              

#sghssh-logo {
    width: 35mm;
    padding-right:3mm;
}
#dgti-logo {
    width: 15mm;
}
#gpoh-logo {
    width: 30mm;

}

/* no page numbers on cover + preface page */

@page cover {
    @bottom-left {
        content: " ";   
    }
    @bottom {
        content: " ";   
    }
    @bottom-right {
        content: " ";   
    }
}

@page preface {
    @bottom-left {
        content: " ";   
    }
    @bottom {
        content: " ";   
    }
    @bottom-right {
        content: " ";   
    }
} 

/* Page counter starts with table of contents */

#table-of-contents {
    counter-reset: page 1;
}