/* footnotes in the bottom */
@page {
    @footnotes {
        border-top: 1px solid black;
        padding-top: 0.77em;
        margin-top: 1em;
    }
}

/* footnote reference-numbers in the bottom */
.generated-footnote {
    display: prince-footnote;
    counter-increment: footnote;
    font-weight: normal;
    font-size: 0.75em;
    margin-left: 2em;
    prince-text-replace: "Pubmed_ResultsPanel" "Pubmed_ResultsPanel/\200B" "&" "/\200B";
}

/*footnote text (links) in the bottom */
.generated-footnote a {
    text-decoration: none;
    color: black;
}

/* the footnote's reference-numbers in the body text */
.generated-footnote::footnote-call {
    content: "[" counter(footnote) "]";
    font-size: 83%;
    vertical-align: super;
    padding-right: 1em;
}

