p {
  color: #000
  }
h1 {
  color: #000;
  page-break-after: auto
  }
h1.cjk {
  so-language: en-US
  }
h2 {
  color: #000;
  page-break-inside: avoid
  }
h2.cjk {
  so-language: en-US
  }
h3 {
  color: #000;
  page-break-inside: avoid
  }
h3.cjk {
  so-language: en-US
  }
h4 {
  color: #000;
  page-break-inside: avoid
  }
h4.western {
  font-style: italic
  }
h4.cjk {
  so-language: en-US;
  font-style: italic
  }
h4.ctl {
  font-style: italic
  }
a:link {
  color: #00f;
  so-language: zxx
  }
body {
  color: #000
  }
:link {
  color: #00F
  }
p.c68 {
  text-align: center
  }
span.c67 {
  color: #4B4B4B;
  text-decoration: line-through
  }
p.c63 {
  text-align: justify
  }
p.c62 {
  text-align: justify
  }
span.c60 {
  color: #00F;
  font-weight: bold
  }
span.c59 {
  color: #F00
  }
span.c58 {
  color: #F00;
  font-weight: bold
  }
p.c57 {
  color: #F00;
  text-align: center
  }
p.c56 {
  text-align: center
  }
p.c55 {
  color: #F00;
  text-align: center
  }
p.c54 {
  color: #00F;
  text-align: center
  }
span.c53 {
  font-weight: bold
  }
p.c52 {
  text-align: center
  }
p.c51 {
  text-align: center
  }
p.c50 {
  text-align: center
  }
span.c49 {
  color: #000
  }
p.c43 {
  text-align: center
  }
p.c40 {
  text-align: justify
  }
p.c39 {
  text-align: justify
  }
p.c38 {
  text-align: justify
  }
p.c37 {
  text-align: justify
  }
p.c35 {
  text-align: justify
  }
p.c34 {
  text-align: justify
  }
p.c33 {
  text-align: justify
  }
p.c32 {
  text-align: justify
  }
span.c28 {
  font-weight: bold
  }
p.c24 {
  font-weight: bold
  }
span.c22 {
  text-decoration: underline
  }
p.c21 {
  text-align: justify
  }
p.c19 {
  text-align: justify
  }
p.c18 {
  text-align: justify
  }
p.c15 {
  font-weight: bold;
  text-align: justify
  }
p.c14 {
  text-align: justify
  }
span.c13 {
  font-style: italic;
  font-weight: bold
  }
span.c12 {
  text-decoration: underline
  }
p.c11 {
  color: #00000A
  }
p.c8 {
  color: #00000A
  }
p.c7 {
  text-align: justify
  }
span.c6 {
  color: #00F
  }
span.c5 {
  font-style: italic
  }
p.c3 {
  text-align: justify
  }
p.c1 {
  text-align: right
  }