* {
    font-size: 14px;
    hyphens: auto;
    hyphenate-patterns: url('de.hyp');
    hyphens: auto;
    hyphenate-before: 4;
    hyphenate-after: 3;
}

#table-of-contents-heading {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1em;
}

table {
    border: 1px solid grey;
    border-collapse: collapse; 
}

td {
    border: 1px solid grey;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
}

.address {
    margin-bottom: 1em;
    page-break-inside: avoid;
}

.address p:first-child {
    font-weight: bold;
}

.address p {
    margin: 0;
    padding: 0;
    margin-top: -0.5em;
}

ul {
    margin-left: 2em;
}

li p {
    padding: 0;
    margin: 0;
}


table {
    caption-side: top;
    prince-caption-page: all;
    counter-increment: table-counter;
    margin-bottom: 1em;
}

table td {
    vertical-align: top;
    hyphens: none;
}

caption:before {
    content: "Tabelle " counter(table-counter) ": ";
}


.image-caption:before {
    content: "Abbildung " counter(image-counter) ": ";
}


p.legend:before {
    content: "Legende: ";
}

caption,
p.legend, 
.image-caption-text, 
.image-caption {
    font-style: italic;
    font-size: 12px;
    text-align: left;
    margin: 0;
    padding: 0;
    page-break-before: avoid;
    line-height: 1.5em;
}

caption {
    margin-bottom: 0.5em;
}

.image-container {
    padding: 0;
    page-break-inside: avoid;
    
}

.image-container .image-caption {
    counter-increment: image-counter;
}

p.legend img {
    vertical-align: middle;    
}

h2::before {
    content: counter(c1) ' '; 
}

sup {
    font-size: 80%;
}

p {
    line-height: 1.3em;
}


h2,h3, h4, h5 {
    margin-bottom: 1em;
    padding-bottom: 0;
}
/* Cover page */

#cover-front {
    page-break-after: always;
    text-align: center;
}


#cover-title {
    margin-top: 50px;
    font-size: 25px;
    color: black;
    line-height: 1.5em;
}

#cover-box {
    position: absolute;
    margin-top: 120px;
    width: 100%;
}

#cover-text {
    font-size: 15pt;
    color: blue;
    line-height: 1.2em;  
}

#cover-text2 {
    margin-top: 2em;
    font-size: 15pt;
    color: black;
}


#cover-logo {
    width: 50%;
    text-align: center;
}

#logos-bottom {
    margin-top: 3em;
}

#logos-bottom div img {
    width: 40%;
    margin-bottom: 2em;
}



.small td {
    font-size: 50%;
}
.small td p {
    font-size: 100%;
}