table, th, td {
    border-collapse: collapse;
    border: 1px solid #afafaf;
    padding: 0.77em;
    text-align: left;
}

th, td {
    page-break-inside: avoid;
}

.small td p,
.small td,
.small td span,
table.small {
    font-size: 14px;
}