/**************************************************************
 * Base Layout
 **************************************************************/

@page{
    size: letter portrait;
    margin: 1in;
    
    font-size: 12pt;
    font-family: Allegreya;
    
    @top-right{
        content: string(title) "   " counter(page, decimal);
        text-align: right;
        padding: 0;
        margin: 0;
        margin-top: 0.5in;
        vertical-align: top;
        text-transform: capitalize;
    }
    
    counter-increment: page 1;
}

body{
    counter-reset: picture 0;
}

* {
    font-size: 12pt;
    font-family: Allegreya;
    line-height: 2;
    text-align: left;
    
    hyphens: none; /* MLA 116 */
}

h1, h2, h3, h4, h5, h6, p, ol, ul, table, div {
    margin: 0;
}

body > p:not(.title) + p {
    text-indent: 0.5in;
}

h1{
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    
    string-set: title self;
}

h1:ro-no-content:after{
    content: "Please enter a Title.";
    background-color: inherit;
    color: lightgray;
    font-style: italic;
    font-weight: normal;
}

h2 {
    text-align: left;
    font-weight: bold;
    text-transform: capitalize;
} 

h2:ro-no-content:after{
    content: "Please enter a Heading Text.";
    background-color: inherit;
    color: lightgray;
    font-style: italic;
    font-weight: normal;
}

:ro-matches(ol, ul, p, div.picture) + h2{
    margin-top: 0.25in;
}

ol{
    padding: 0;
    text-indent: 0.5in;
    
    counter-reset: listItem;
}

ol > li{
    list-style-type: none;
    
    counter-increment: listItem;
}

ol > li:before{
    content: "(" counter(listItem) ")";
    margin-right: 0.5em;
}

li > p {
    display: inline;
}

table, td, th{
    border: none;
    padding: 0.1in;
    border-collapse: collapse;
}

table {
    border-top: 0.01in solid black;
    border-bottom: 0.01in solid black;
    margin-top: 1em;
    margin-bottom: 1em;
}

:ro-matches(td, th) > :ro-matches(p, h1, h2):first-child{
    margin-top: 0;
}

:ro-matches(td, th) > :ro-matches(p, h1, h2):last-child{
    margin-bottom: 0;
}

tr:first-of-type{
    border-bottom: 0.01in solid black;
}

table.headingLeft{
    border-top: 0.01in solid black;
    border-bottom: 0.01in solid black;
}

table.headingLeft tr:first-of-type{
    border-bottom: none;
}

table.headingLeft td:first-of-type{
    border-right: 0.01in solid black;
}

div:not(.picture) p:only-child:ro-no-content:after{
    content: "Please fill in Container Content.";
    color: lightgray;
    font-style: italic;
    font-weight: normal;
}

div.picture{
    -ro-editable: true;
    -ro-editable-inside: false;
}

div.picture p{
    text-align: center;
}

div.picture img{
    counter-increment: picture;
    max-width: 100%;
}

div.picture p:last-child{
    font-weight: bold;
    
    -ro-editable-inside: true;
}

div.picture p:last-child:before {
    content: counter(picture, upper-roman) ". ";
}

div.picture p:last-child:ro-no-content:after{
    content: "Add picture title here";
    color: lightgray;
    font-style: italic;
    font-weight: normal;
}

/**************************************************************
 * Style Template
 **************************************************************/

p{
    -ro-style-template: "L_STYLE_TEMPLATE_PARAGRAPH" paragraph;
    -ro-style-template-group: "L_PARAGRAPH";
    -ro-style-template-toggle-id: "toggle-paragraph";
    -ro-style-template-not-context: "ro-table-context", "ro-list-context", "ro-container-context";
}

h1{
    -ro-style-template: "L_STYLE_TEMPLATE_HEADING1" paragraph;
    -ro-style-template-group: "L_PARAGRAPH";
    -ro-style-template-toggle-id: "toggle-heading-1";
    -ro-style-template-not-context: "ro-table-context", "ro-list-context", "ro-container-context", "remove-heading-context";
} 

h2{
    -ro-style-template: "L_STYLE_TEMPLATE_HEADING2" paragraph;
    -ro-style-template-group: "L_PARAGRAPH";
    -ro-style-template-toggle-id: "toggle-heading-2";
    -ro-style-template-not-context: "ro-table-context", "ro-list-context", "ro-container-context", "remove-heading-context";
}

table{
    -ro-style-template: "L_TABLE_HEADER_TOP" table;
    -ro-style-template-group: "L_TABLE_TEMPLATES";
}

table.headingLeft{
    -ro-style-template: "L_TABLE_HEADER_LEFT" table;
    -ro-style-template-group: "L_TABLE_TEMPLATES";
}


/**************************************************************
 * Contexts
 **************************************************************/

div.picture,
div.picture img {
    -ro-context: "picture-context", "container-context";
}

div.picture > p:last-child {
    -ro-context: "picture-caption-context", "container-context";
}

:ro-matches(td, th, li, div) :ro-matches(h1, h2, p){
    -ro-context: "remove-heading-context";
}

div.picture p{
    -ro-context: "picture-context", "remove-heading-context";
}